[2013-03-14 19:20] back2dos opened #1 "Switch lib description format from XML to JSON"

[2013-03-14 19:30] back2dos opened #2 "Switch to semver"
More info here: http://semver.org/

[2013-03-14 19:34] back2dos opened #3 "Deal with legacy support"
The existing remoting endpoint should remain intact.

[2013-03-14 19:40] back2dos opened #4 "Better native code support"
To quote Caue on this one:

[2013-03-14 19:41] back2dos opened #5 "Support multiple library admins and ownership transfer"

[2013-03-14 19:55] back2dos opened #6 "Allow library deprecation by respective admins"

[2013-03-15 10:47] skial opened #7 "Database connection fails"
Compiling from a fresh fork of the repo I get this error

[code]

I'm running Haxe r6388 and Neko 2.0

This error happens before `Site::main` is even able to run.

[2013-03-17 20:59] waneck opened #10 "https support"
For uploading new packages, it would be great to support https connections so the password isn't passed as clear text

[2013-03-18 08:57] #7 closed, assigned to nobody

[2013-03-18 14:11] back2dos opened #11 "Haxelib installation/bootstrapping"
We have several things to accomplish when booting haxelib.

To make this easier, my suggestion would actually be to add only the very core of haxelib to the haxe installation. And rather than having it sit in the standard lib, it could actually be with the libs.

After Haxe is installed, we can do something along the lines of this:

[code]

Although there's no reason why the very first line couldn

[2013-03-19 01:43] TheHippo opened #14 "Design of the website"
I think it would be nice to also give the Haxe lib site a new design, or at least adopt the design of the main Haxe page.

[2013-03-19 08:07] andyli opened #18 "Supports MySQL"
Referring to https://code.google.com/p/haxe/issues/detail?id=1290, it seems that it is better to run production version of haxelib using MySQL.

But I agree that using sqlite locally is handy for development, so probably lets support both.

[2013-03-19 08:11] andyli opened #19 "unit-test with TavisCI"
I recently experimented with [testing haxe project using TravisCI](http://blog.onthewings.net/2013/03/19/automated-unit-testing-for-haxe-project-using-travis-ci/) and it is quite easy and useful. It can be used to unit test various haxelib commands.

I can setup a basic structure and make a pull request if you agree.

[2013-03-19 13:08] back2dos opened #20 "Command plugin architecture for haxelib client"
After thinking about #11 and how to keep the client small, I've had the following idea: Running `haxelib <cmd> <args>` could simply be a shortcut for `haxelib run haxelib_cmd_<cmd>` provided that `<cmd>` is unknown. This would allow us (and in fact everyone in the community) to add commands while keeping the client clean. The long prefix is simply meant to avoid taking up good names.

Thoughts on

[2013-03-26 16:43] back2dos opened #23 "Developer meeting & roadmap"
Ok, Nicolas basically gave me a go yesterday night (we're still in disagreement over some issues but they are non-essential at this time), so let's get this show back on the road!

It might be best if we had a short IRC meeting regarding the next steps ASAP. Is everyone ok with March 27 at 22:00 GMT? Should be humane for most people, only poor Andy would have to get up at 6am ;)

Please leave a sh

[2013-03-27 22:25] Dr-Emann opened #24 "Isolate legacy haxelib backend"
Redirect old haxelib requests to a separate legacy endpoint.

[2013-03-27 22:36] Dr-Emann opened #25 "Reserve haxe project name"
Allow for a project to depend on certain a certain version of Haxe.

[2013-04-14 21:13] m22spencer opened #26 "haxelib auto-update support"
I feel like there was some mention of this on the haxe mailing list, but I just want to make sure it gets to the issue tracker.

It would be nice to have haxelib check for updates to itself before running, so that it's possible to patch it without requiring a new release of haxe.

[2013-04-17 03:39] jasononeil opened #28 "Decide on restrictions for submitting libraries"
The proposed JSON format is [here](https://gist.github.com/TheHippo/5188116), though we may move out the project-admin stuff and leave only the info specific to that library and that version.

Things I think are important:
- Version number of the library
- Version number of dependencies (both libraries and haxe version)
- Reserved names.  "haxe", "haxelib" and "haxedoc" seem sensible to reserve.

[2013-04-17 04:29] #23 closed, assigned to nobody

[2013-05-07 10:06] zaxebo1 opened #29 "haxelib client and haxe binary : The Value of HAXELIB_HOME environmental variable should be checked before ~/.haxelib file value"
With reference to discussions at
https://groups.google.com/forum/?fromgroups=#!searchin/haxelang/haxe$202$20and$203/haxelang/trmq-4H1J8g/_qA6Ox3uO3MJ

haxelib binary which currently reads ~/.haxelib file to decide for haxelib path.
We should modify it such that "haxelib" binary and "haxe" etc bianries should first check for environmental variable HAXELIB_HOME (to point to haxelib path) and if it i

[2013-05-07 12:34] jasononeil opened #30 "Offer link from "not found" results to the legacy website"
For example:
http://lib.haxe.org/p/air3

It would be nice to place a link suggesting it might be located under legacy/

[2013-05-08 01:05] jasononeil opened #31 "Include a helper to convert xml to Json?"
I created a helper tool to convert old haxelib.xml into haxelib.json.  Would it be better to include it as a temporary haxelib command (we could deprecate it after a few months).

Sample implementation:

https://github.com/jasononeil/haxelib-xml-to-json/blob/master/XmlToJson.hx

Sample usage:

haxelib convertxml // converts haxelib.xml in current directory to haxelib.json

If it speeds up the proc

[2013-05-08 17:58] #18 closed, assigned to nobody

[2013-05-11 13:47] Simn opened #32 "Swallowed error cause upon HAXEPATH problem"
https://code.google.com/p/haxe/issues/detail?id=1808

safeDir can throw for several reasons, but getRepository swallows these reasons and assumes that the directory does not exists.

[2013-05-11 16:14] waneck opened #33 "Add haxelib website to cloudflare"
The current haxelib repo server has a very slow internet connection; downloading NME's 60MB zip takes more than 30min!

I can offer to sponsor a server that has better speed to solve this problem; but an easier solution would be to try to use CloudFlare on top of the sever.

CloudFlare is a free CDN (see https://www.cloudflare.com/features-cdn ), and it should speed up the server's upload rate con

[2013-05-14 13:35] Simn opened #34 "zsh shebang problem"
https://code.google.com/p/haxe/issues/detail?id=1813

[2013-05-16 17:28] wighawag opened #35 "classPaths in haxelib json"
Hi

This new release of haxelib has made me give another try on it. Thanks for your work.

One thing I find annoying in dealing with haxelib is that haxelib.json need to be in the source folder along side package folder and source files.

This does not look very nice on a git repo for example where you want people to use "haxelib git ..." to grab your library.

Also if you want to have other files

[2013-05-16 17:33] wighawag opened #36 "Security : haxelib run.n should be compiled from source by the client"
Currently run.n is compiled by the library creator.
This means that potentially dangerous code could be downloaded to a client.
And because for some  haxelib is installed so only root can use it, it is even more dangerous.

I suggest that instead of the library creator, compiling run.n, this should be done automatically by the user. This way at least you can read the source code.

[2013-05-16 17:38] wighawag opened #37 "haxelib modules/plugins system"
haxelib is a simple system to handle dependencies but this could well be extended to support many thing (a la maven) like unit test for example (to make sure you deploy only well tested releases)

For testing, since there are many different test runners available, this can only be achieved by allowing haxelib to run plugins that then do the extra work.

This is of course not easy as it sounds but

[2013-05-16 17:41] #37 closed, assigned to nobody

[2013-05-17 11:56] wighawag opened #38 "haxelib json spec"
Is there any doc regarding the json spec for the haxelib.json file?

I tested it with `haxelib local <zip file>` and the following was the minimal valid haxelib.json I got. By the way errors were not helpful, they just mentioned `Invalid field access : length` and `Invalid field access : toString`  and not what fields were missing.

[code]

Then I  tested with `haxelib submit` and got the followin

[2013-05-17 14:34] #24 closed, assigned to jasononeil

[2013-05-17 14:35] #1 closed, assigned to nobody

[2013-05-17 14:35] #3 closed, assigned to nobody

[2013-05-22 10:35] ncannasse opened #39 "[Urgent] Issues with legacy haxelib"
When a library is submitted with same version on both legacy and new haxelib, the legacy haxelib client will download the 3.0 library archive instead of the legacy one. This needs to be urgently addressed.

[2013-05-22 10:48] deltaluca opened #40 "haxelib fails to match dependency for local-only lib, reports library does not exist."
#### Minimal test case:
##### test/haxelib.json:

[code]

[code]
##### test2/haxelib.json:

[code]

[code]
###### output:

[code]

[2013-05-23 21:59] #34 closed, assigned to jasononeil

[2013-05-23 22:24] #31 closed, assigned to nobody

[2013-05-23 22:41] #30 closed, assigned to nobody

[2013-05-23 23:01] jasononeil opened #41 ""haxelib dev" with relative path does not get set up correctly"
The dev path is saved as the relative path, so it won't be found correctly when compiling from a different folder.

[2013-05-23 23:11] #41 closed, assigned to jasononeil

[2013-05-23 23:32] #11 closed, assigned to nobody

[2013-05-23 23:33] #2 closed, assigned to nobody

[2013-05-23 23:37] #26 closed, assigned to back2dos

[2013-05-24 00:01] #25 closed, assigned to nobody

[2013-05-24 00:03] #28 closed, assigned to nobody

[2013-05-24 06:57] jasononeil opened #42 "Get "haxelib setup" to also run selfupdate"
So that in future new installs will start on the most recent version.

Is this the intention?  If the selfupdate is working reliably (which it appears to be) I think it would be a good move, rather than having to explain to first time users how to selfupdate.

[2013-05-24 08:49] #36 closed, assigned to nobody

[2013-05-25 08:32] jasononeil opened #43 "Give a more useful error message when haxelib is not writeable"
Suggest using "sudo" if not on Windows, or give an error message otherwise.

Currently just prints

[[ /usr/lib/haxe/lib/.../something.zip ]]

which is not the most helpful to new users.

[2013-05-26 18:55] louisbl opened #44 ""haxelib git git@some-git-repo" outputs "License must be one of the following: [GPL,LGPL,BSD,Public,MIT]" and failed"
The default haxelib.json has an empty license field (license = "") and therefore failed to install after the git clone with this:  License must be one of the following: [GPL,LGPL,BSD,Public,MIT].

[2013-05-27 11:20] jasononeil opened #46 "Haxelib git doesn't work if you've used it before"
[code]

Ooops, that was wrong!

[code]

"Already up-to-date."

Oh, okay then.

Perhaps we should just delete the git directory if it already exists?

[2013-05-27 11:23] #44 closed, assigned to nobody

[2013-05-27 13:50] #46 closed, assigned to nobody

[2013-05-28 08:05] JbIPS opened #47 "Problem downloading zip package"
I recently switch to Haxe 3, so I had to re-install all my haxelibs.
So i tried `haxelib install actuate` and got:

[code]

Same things for all haxelib I tried (NME, TileLayer).

I'm on Mac OSX, and I installed Haxe-3.0.0-RC2 with the script on the website. The only trick: I keep haxe2 and I put a link `usr/lib/haxe -> /usr/lib/haxe3`.
I checked permissions, haxelib have them all on ./haxe/lib/. E

[2013-05-28 09:44] #47 closed, assigned to nobody

[2013-05-30 23:27] jasononeil opened #48 "If a haxelib.json file does not have a "contributors" field, haxelib crashes when processing it"
Cross posted from https://github.com/HaxeFoundation/haxe/issues/1874

The error is in the Data.hx readData() function. It assumes that doc.contributors is non-null, casts to Array, and then uses it.

I don't know if "contributors" is intended to be a required field in haxelib.json as I haven't found any documentation describing what fields can be present in a haxelib.json files and which fields wo

[2013-06-01 14:05] Justinfront opened #49 "Selfupdate suddenly broken."
On leopard 10.5 haxelib suddenly stopped working.

JustinComputer:helloCpp justinmills$ haxelib selfupdate
haxelib is up to date
/usr/bin/haxelib: line 2: 35065 Bus error               haxe -cp "/usr/lib/haxe/lib/haxelib_client/3,0,0-rc,7/" -D haxelib_client --run tools.haxelib.Main $@
JustinComputer:helloCpp justinmills$

[2013-06-03 10:06] JbIPS opened #50 "License issue with haxelib git"
When I try to install an haxelib from git I've got the following error:

[code]

I looked in the genereated haxelib.json and there actually is no license set even if the is one set in the XML.
So I put a haxelib.json at the root of the [git](https://github.com/JbIPS/nme-tilelayer/blob/master/haxelib/haxelib.json) but the error's still here. I think the JSON is automatically generated even if there

[2013-06-03 12:25] #39 closed, assigned to nobody

[2013-06-03 12:28] ncannasse opened #51 "[Urgent] haxelib dev not working on Windows"
using "haxelib dev" will create a .dev with an extra / at the end, which seems to mess up things on windows:

haxelib dev anything .
haxelib path anything

Not sure if it's been fixed already or not, but then it is needed to allow sefldupdate for a fix

[2013-06-03 13:56] NobbZ opened #52 "Allow "other" Licenses or at least add more!"
The restriction to only a handfull of possible Licenses is pretty bad, and forces the developer into the virability of the big GNU.

Even if I dislike the GNU-License-Package, it should be accepted as a whole and not only the current subset. In particular you are missing the Affero and Document (OK, this will probably used very seldom) flavor.

But in General I would appreciate one of the followin

[2013-06-03 15:33] #52 closed, assigned to nobody

[2013-06-04 09:28] ncannasse opened #53 "[Urgent] Haxelib GIT broken"
When installing a library with HaxeLib GIT you get the following error:

License must be one of the following: [GPL,LGPL,BSD,Public,MIT]

However the library has the haxelib.json with MIT license.
Test with:
  haxelib git poly2trihx https://github.com/nerik/poly2trihx.git

[2013-06-05 12:39] NobbZ opened #54 "Add RSS feed to lib.haxe.org"
If there were an RSS-feed, you could easily stay up to date and be aware of new libs added.

There should be at least a global feed which nitifies about every single lib added or updatet. An addition per tag feed would be nice but is not mandatory.

Another very cool feature would be, if you could sign up for a user account and have a private feed which informs you about changes made by watched ma

[2013-06-06 10:12] #53 closed, assigned to nobody

[2013-06-06 10:17] #42 closed, assigned to nobody

[2013-06-06 10:27] jasononeil opened #55 "Un-hardcode haxelib server path so it's easier to use a 3rd party server"
This will be useful in general, but specifically it will make it easier to test selfupdate on a local server (or my VPS which I'll leave online) before we release something to the world.

Any recommendations for implementation? Command line arg, environment variable, ".haxelib" file, other?

[2013-06-06 11:34] #54 closed, assigned to jasononeil

[2013-06-06 13:03] jasononeil opened #56 "Local haxelib server using sqlite uses different db path for website and remoting API"
Using "localhost:2000/" for the website, and "localhost:2000/api/3.0/" for the API, they use different paths:

Website: /root/haxelib.db
API: /root/../../haxelib.db

This would obviously be a good idea to fix...

[2013-06-06 13:05] #55 closed, assigned to jasononeil

[2013-06-06 13:10] #32 closed, assigned to back2dos

[2013-06-08 10:02] NobbZ opened #57 "Next generation haxelib proposal"
Because I think, there is much more duscussion needed than it could be done on github, I posted my proposal to the haxelang mailinglist (Thread https://groups.google.com/forum/?fromgroups#!topic/haxelang/KrYoVwRQilU) but will quote it here:

[2013-06-09 05:23] dpeek opened #58 "haxelib path extensibility"
There's a magical relationship between haxe and haxelib, and the point of contact is the `haxelib path x` command. This allows developers the convenience of invoking the compiler with the args `-lib x`, and having that resolve to any number of additional arguments.

I think some extensibility here would be very powerful, something along the lines of: if haxelib doesn't find a lib, try this other (

[2013-06-09 11:18] Simn opened #59 "contributors entries are case sensitive"
I submitted a library using this haxelib.json yesterday:

[code]

Today I wanted to push an update using the same haxelib.json (with a modified releasenote), but haxelib went on complaining "User 'simn' is not a developer of project 'hxparse'".

This is because my username for haxelib is uppercase Simn. It worked after changing contributors accordingly, but it should consistently work or fail for

[2013-06-12 16:28] #51 closed, assigned to jasononeil

[2013-06-12 16:29] #38 closed, assigned to nobody

[2013-06-12 17:01] #50 closed, assigned to nobody

[2013-06-12 17:01] #48 closed, assigned to back2dos

[2013-06-12 17:01] #43 closed, assigned to nobody

[2013-06-12 17:02] #40 closed, assigned to nobody

[2013-06-12 17:03] #35 closed, assigned to back2dos

[2013-06-13 03:24] #57 closed, assigned to nobody

[2013-06-14 02:02] Dr-Emann opened #61 "Haxelib Project/User/Tag Name Restrictions"
According to the [haxe documentation](http://haxe.org/doc/haxelib/using_haxelib#creating-a-haxelib-package), We place some restrictions on the name/user, specifically:
- Length must be >= 3
- All characters must be one of `[A-Za-z0-9_-.]`

I could find no such restrictions on tags, on the site, or in the haxelib code (but I definitely could have missed it). I think we should place similar restrict

[2013-06-18 21:08] porfirioribeiro opened #63 "Cleanup command"
Having many big libraries like openfl-\* installed and after some updates, you lib folder may become very big.

Its possible to remove the old versions one by one, but i think that a cleanup command would be handy.

Either remove old versions of each library
haxelib cleanup openfl-natives
Or cleanup all
haxelib cleanup

[2013-06-19 10:18] markknol opened #64 "haxelib dev adds slash which causing completion errors"
What steps will reproduce the problem?
1. run `haxelib dev flambe "C:\Mark\Projects\xxxxxx\prototype\source\libs\flambe\src"`
2. it logs `Development directory set to C:\Mark\Projects\xxxxxx\prototype\source\libs\flambe\src/` note the last slash at the end of the path
3. flashdevelop autocompletion fails because of the slash in the end, saying `Error: Library flambe version dev is not installed` W

[2013-06-19 10:26] #64 closed, assigned to nobody

[2013-06-20 01:51] #61 closed, assigned to nobody

[2013-06-20 07:36] ncannasse opened #65 "JSON parse error gives misleading error message"
When submiting a new lib (mtwin 1.6), I got the following error:

[code]

It was actually coming from the fact that I had an extra comma in the JSON field, making it fail to parse:

{
   "name" : "mtwin",
  ....
   "contributors" : "ncannasse",   // <-- here
}

[2013-06-20 07:42] ncannasse opened #66 "Easier haxelib git"
Most people hosting things on github I think we could have a shortcut for haxelib git, such as:

`haxelib git <user>/<lib>`

would be an alias for:

`haxelib git <lib> https://github.com/<user>/<lib>.git`

[2013-06-21 11:24] tong opened #67 "Sort list alphabetically"
$ haxelib list
Gives an unordered list of installed libraries which is painful if you want to check for a specific library. This list should be sorted alphabetically.

[2013-06-26 06:06] jasononeil opened #68 "Clean up "dev" code"
For example, <https://github.com/HaxeFoundation/haxelib/blob/master/src/tools/haxelib/Main.hx#L1015>:

	if( !FileSystem.exists(proj) ) {
		FileSystem.createDirectory(proj);
		File.saveContent(proj + "/.current", "dev");
	}

@dpeek pointed out that saving ".current" should probably happen outside of the if statement.  On further reading of the source though, that isn't necessary at all - we shouldn

[2013-06-26 06:13] jasononeil opened #69 "Dox support for haxelibs"
It would be good to discuss this.

Is the plan to include haxelibs on "api.haxe.org"?  Or should generated documentation be included on the "lib.haxe.org" website?  (If the verdict is that they belong on api.haxe.org, it may be suitable to host this discussion elsewhere).

Secondly, dox can support input from multiple Xml files, but the previous haxelib website only looked at a single "haxelib.xml

[2013-06-27 13:12] jasononeil opened #70 "haxelib bundle, or improved haxelib submit"
We spoke about this at WWX, but it would be good to get some discussion / documentation going for this feature.

The idea:

    haxelib bundle - create a zip of the current directory

OR

    haxelib submit (no-parameter), zip the current directory, and submit it.

MassiveLib has a function similar to this, and many people have shell scripts or bat files that do this, but it would be nice if haxel

[2013-06-28 13:57] polygonal opened #71 "circular dependency of two libraries fails"
when two libraries depend on each other, haxelib locks up. see polygonal-core and polygonal-ds on haxelib. worked with old haxelib.
e.g. $haxe -swf foo.swf -main Foo -lib polygonal-core

[2013-06-30 21:10] sledorze opened #72 "When Haxelib selfupdate fails (no sudo), it will definitively no more work (OSX)."
Under OSX, when trying to selfupdate haxelib without sudo, it fails.
Then subsequent try to selfupdate it (with sudo) has no effect (considered as up to date).

Then if I try to install git projects, their dependencies resolution do not work.
Reproduced several time when trying to install scuts:
https://github.com/frabbit/scuts

with commands:
haxelib git scuts-core https://github.com/frabbit/scut

[2013-06-30 21:13] sledorze opened #73 "Haxelib git do not install dependencies"
Everything is in the title.

Noticed when installing scuts:
https://github.com/frabbit/scuts

Notably, scuts-core depends on utest, not installed.

[2013-07-03 09:33] profelis opened #75 "switch user support"
I created 2 users with "haxelib register" and now can't submit libs under first user.

haxelib submit request only file name and password of last user.

[2013-07-03 09:42] #75 closed, assigned to nobody

[2013-07-08 04:00] jasononeil opened #77 "Selfupdate from offline zip file"
For people who are behind a firewall, updating the haxelib client is not straight forward.

Ideally "haxelib selfupdate" should fetch the zip from the server, and "haxelib selfupdate haxelibclient.zip" will use the supplied zip file.

[2013-07-17 20:52] vpmedia opened #78 "Running Haxelib inside TeamCity container"
If I try to execute "haxelib run openfl" or any "haxelib" command with parameter i'm recieving the following error message:

Invalid operation (+)
Process exited with code 1

The problem only occurs if i try this from a teamcity build process - so using a remote desktop and command line prompt works (it's an EC2  Windows Server 2008 [Haxe 3.0.0 and Neko 2.0.0 release builds]).

[2013-07-19 14:32] impaler opened #79 "Haxelib path command change in 3.1.0-rc.3"
Gday, I noticed that openfl-tools uses the haxelib path <project> command to get the location of haxelibs. After running haxelib selfupdate I noticed the order of the output of the path command changes with something I assume has to do with dependencies.

Eg;

``haxelib path flixel`

In haxelib 3.0.0:

[code]

After update to haxelib 3.1.0-rc.3

[code]

This matters for things like using a master

[2013-07-24 10:13] #79 closed, assigned to nobody

[2013-07-25 01:52] Justinfront opened #80 "Haxelib download example is old"
Haxelib download example is old
http://lib.haxe.org/files/myproject-1,0.zip

found on one of these pages
http://haxe.org/doc/haxelib/using_haxelib
http://haxe.org/com/haxelib

These pages need to merged with
http://haxe.org/doc/haxelib/haxelib2

[2013-07-25 09:09] drkibitz opened #82 "haxelib Hooks"
Taking a cue from other package managers, It would be great to have this as part of haxelib, and haxelib.json. Right now we have this `run.n` functionality, which is a great stepping stone because commands that exist in `run.n`. IMO it totally makes sense to be able to hook these into pre/post install, update, and remove hooks. For example:

[code]

Or to be even more clear:

[code]

Some hook ide

[2013-07-25 09:13] #82 closed, assigned to nobody

[2013-07-26 07:53] #73 closed, assigned to nobody

[2013-07-27 11:27] Gama11 opened #83 "Installed versions are not always displayed in "correct order" with haxelib list"
This is a very minor issue, if it can be considered an issue at all. The versions installed don't always show in the "correct order" (oldest first, newest last). Like you can see on this screenshot, it seems to work perfectly for every lib but nape, where 2.0.9 shows up on the very right instead of on the left:

![](http://i.imgur.com/VlrqP8b.png)

[2013-07-27 14:01] Gama11 opened #84 "Improvement of haxelib set"
If you run `haxelib set` and try to set the version of a lib to a version which is not currently installed, it should ask whether or not to install that version instead of just saying `Library xy version x.x.x is not installed`. Would improve the usability.

[2013-08-20 03:51] #58 closed, assigned to nobody

[2013-08-26 19:51] markknol opened #87 "@:keep + dce=full does not keep constructor of super class"
_Environment_
- I'm using latest Haxe 3 from the website (no dev/custom build)
- I'm on windows

_Code setup_
- Class Scene with some constructor code.
- Class CustomScene, extends Scene, has also constructor code and is calling super()
- I use Reflection to create and instance of CustomScene, using Type.createInstance.
- In the compiler settings, flambe uses dce=full

_Problem_
Because I use refl

[2013-08-27 07:27] #87 closed, assigned to nobody

[2013-09-13 16:14] #84 closed, assigned to nobody

[2013-09-18 19:50] musanek opened #89 "haxelib dev error"
When there is no directory (even empty) for current platform in ndll dir, the haxelib reports :

Error: Could not find haxelib "NameOfTheLib", does it need to be installed?

Should give more reasonable error message, or should be documented somewhere (as it has not been always forced).

[2013-09-18 20:05] #89 closed, assigned to nobody

[2013-09-20 21:47] elsassph opened #90 "How to reclaim/edit a contributor?"
Hello, Matthews Wallace has submitted the Haxe 3 "port" of Tilelayer indicating himself and me as contributors.

I didn't have submitted a Haxe 3 library previously and now my user seems somewhat associated with Matthews...

Sooo how can I fix that?

![image](https://f.cloud.github.com/assets/297963/1184101/3196d644-223e-11e3-91e6-b9f4a14d77d7.png)

[2013-09-21 05:52] jasononeil opened #91 "Ability to manage users profiles (email changes, password resets etc)"
See #90

Basically there is no way currently to change a haxelib user's email or password once it has been created.

It would be good to:
- Be able to change passwords and emails through the command line tool (if you know the existing password) or the website.  (Command line tool is probably easier)
- Have an email password reset functionality.

[2013-09-24 10:09] delahee opened #92 "[Motion Twin] haxelib svn would be awesome !"
not very prioritary but just like haxelib git !

Thanks for your time and dedication !

[2013-09-24 22:52] profelis opened #93 "haxelib selfupdate on linux"
haxe 3.0.0 stable
linux 32 bit

[code]

[code]

[code]

haxelib setup in ~/dev/haxelib

but

[code]

sudo haxelib seflupdate doesn't help

[2013-10-02 14:41] delahee opened #95 "[MotionTwin] Haxelib doc looks out of date"
Haxelib doc looks outdated : http://haxe.org/doc/haxelib/using_haxelib

There is no mention as to how the new JSON file work and the new possiblities (semver style etc...)...
Can someone from the haxelib team make a little cleanup ?

Thanks !

[2013-10-02 14:58] #95 closed, assigned to nobody

[2013-10-11 21:49] xhunterko opened #96 "Suggestion: Search installed libraries?"
I thought it'd be nice to be able to see a list of all the libraries that you have installed. That way, when you don't see a use for one, all you'd have to do is search for all libraries, and then remove the ones you don't want any more. Thought it'd be handy. Ignore if it's already in or planned.

[2013-10-11 21:56] #96 closed, assigned to nobody

[2013-11-01 09:51] Partysun opened #98 "If NDLL has only one Android folder, Haxelib couldn't see this lib."
I am creating specific openfl extension for Android now.

haxelib dev test-extension 'pwd'  (unix os)

test-extension:
-ndll
  -Android
include.xml
haxelib.json
project
src

› haxelib path test-extension
Library test-extension version dev does not have a neko dll for your system

Ok. I create some extra folders in NDLL:
mkdir Mac Mac64

And this problem solved. I think it's not good behavior.

htt

[2013-11-06 19:15] drkibitz opened #100 "Using HAXEPATH Environment Variable"
This issue is in regards to the HAXEPATH environment variable, and the specificity it has to Windows. This should not be the case, the logic used in checking the value should be the same for all platforms. Would be very helpful for any other more complex environments.

[2013-11-07 06:50] andyli opened #102 "selfupdate should call next version to perform the action"
Thinking about selfupdate, haxelib should update haxelib_client and call the latest version to perform the actual update. It is because currently if there is issue in the selfupdate code, user will not be able to use the fixed selfupdate until updating haxelib manually.

[2013-11-14 13:37] dukobpa3 opened #104 "Ability to add git dependencies to dependencies.hxml"
I have list of dependencies for project and I can add it to `dependencies.hxml`.
Then I can use `haxelib install dependencies.hxml`.
But I don't know how I can add git dependencies to this *.hxml file.
Is there ability for this action in haxelib?

[2013-11-24 02:27] hughsando opened #105 "Allow 'haxelib local' to take web url"
It would be nice to be able to point haxelib at a "wget" url as well as a local file.

[2013-11-24 02:28] hughsando opened #106 "Should 'haxelib local/haxelib install' disable the 'dev' version"
I think that if a user has explicitly set a haxelib version, the dev version should be disabled.

[2013-11-27 11:49] #80 closed, assigned to jasononeil

[2013-11-27 11:53] #71 closed, assigned to nobody

[2013-11-27 12:32] #67 closed, assigned to nobody

[2013-11-27 12:37] #19 closed, assigned to nobody

[2013-11-28 05:10] hughsando opened #108 "haxelib thinks it is running on linux"
"haxelib path nme" reports

Library nme version dev does not have a neko dll for your system

This comes from
haxe -cp "/usr/lib/haxe/lib/haxelib_client/3,1,0-rc,3/" -D haxelib_client --run tools.haxelib.Main $@

returning "linux" for Sys.systemName() on a mac.  I presume this is from the haxe interpret code.

[2013-12-02 16:29] disjukr opened #109 "haxelib submit <path>"
i want submit the package just doing `haxelib submit .`
and ignore useless files like npm(e.g. write `.hxignore`)

[2014-01-02 15:13] damoebius opened #111 "haxe.org misteak"
I think there is an error on http://haxe.org/doc/haxelib/using_haxelib#installing-a-library-from-git

"haxelib git project-name git-clone-path subdirectory"
instead of
"haxelib git project-name git-clone-path branch subdirectory"

[2014-01-03 02:01] #111 closed, assigned to nobody

[2014-01-16 22:46] madprog opened #112 "Invalid call while installing lime 0.9.2"
## Problem description

When trying to install lime, I encounter the error ```Invalid call```, and haxelib gets terminated:
[code]

## Environment

* Linux Debian 7.3 (wheezy)
* haxe version: HaxeFoundation/haxe@532fbbfa69c705c64c9a0f2a696b4849642fd8dc
* neko version: HaxeFoundation/neko@0c5d34909384fcb8c4eea536f4bfe4304af2ced1
* haxelib list:
[code]

* env output (purified):

[code]

[2014-01-21 02:06] RudolfVonKrugstein opened #113 "cannot selfupdate haxelib"
haxelib selfupdate gives me:

[code]

Which is kind of strange. /usr/bin/haxelib is a symlink to
/usr/lib/haxe/haxelib, and its permissions are:

-rwxr-xr-x

Since I used "sudo", writing should not be a problem.

[2014-01-22 03:06] jasononeil opened #114 "Haxelib can get stuck in broken state if selfupdate fails"
Steps to reproduce:
1. Start with fresh haxelib
2. Make sure you don't have write permission to /usr/bin/haxelib
3. Run "haxelib selfupdate"
   - The library updates
   - It fails to create a new script file at "/usr/bin/haxelib"
4. Fix the permission error, run "haxelib selfupdate".  Get the message "haxelib is up to date".
5. You're now stuck on an outdated version

[2014-02-05 18:31] frabbit opened #118 "allow local installation in addition to global installation"
The nodejs package manager npm is a good example for this feature. npm allows to install libraries locally and globally. Global is like the haxelib installation works now and local means use the current directory as base for installed libraries and store them in a special directory (like .haxelib) inside of the current working directory. It could be implemented by a flag like -local which means in

[2014-03-01 13:25] andyli opened #119 "haxelib.json on haxelib is not in sync with this repo"
The haxelib.json of 3.1.0-rc.4 of haxelib_client on haxelib:
[code]

The one from this repo:
[code]

Notice `classPath`... which is an important fix from #99

[2014-03-02 03:05] #114 closed, assigned to nobody

[2014-03-10 21:47] wiyarmir opened #121 "haxelib selfupdate weird path solving [OSX]"
This is weird. Tried to change path with `haxelib setup` and keeps appending `/usr/lib/` to the beginning of the path.
[code]

[2014-03-10 21:48] andyli opened #122 "zip handling in Data.hx"
An issue reported from https://groups.google.com/forum/?hl=en#!topic/haxelang/J7mfiGVr_8s

When there is more than one haxelib.json, placed in different level of directories, haxelib may fail to pick the right one.

It is caused by incorrect zip handling in Data.hx.
Methods need to be fixed:
 * locateBasePath
 * readDoc
 * readInfos

[2014-03-19 13:11] delahee opened #123 "haxelib dev autorise non existent directories to be set"
haxelib dev autorise non existent directories to be set, it would be cool to forbid haxelib dev toward non existent dirs at creation time, it would save us from typos ( sometime happens ...)

[2014-03-26 09:59] bsideup opened #124 "Ability to get haxelib.json without downloading whole file"
Hi!

Similar to other dependency repositories, haxelib server should provide ability to get only haxelib.json file for concrete project instead of downloading full zip file.

This would be very handful for analysing transitive dependencies, also, haxelib client can be improved to download dependencies in parallel, it will significantly increate resolving speed.

Thanks!

[2014-03-29 05:52] as3boyan opened #125 "haxelib removenotused libs proposal"
I wrote a Neko script, which checks if lib is not used and proposes to remove it. I would like to integrate it to haxelib. It walks through every version of lib.

I can map it to this command:

[code]

https://github.com/as3boyan/RemoveObsoleteVersions
https://www.youtube.com/watch?v=bnmaQSDSv6M

[2014-03-29 09:02] #125 closed, assigned to nobody

[2014-03-29 23:01] jgranick opened #126 "haxelib should define both -Dlibname and the version"
Hey guys,

I think it would be great if haxelib defined both the lib name, and version, like -Dopenfl=1.2.2 instead of just -Dopenfl, this would (out of the box) make it easier to handle conditional code if using a certain library, and of a certain version

[2014-04-03 10:44] elsassph opened #127 "Compiling/running the server locally"
Hello, I'm looking running a custom haxelib server but can't find how to build/run the server. There seem to be something missing in the repo...

[2014-04-08 09:46] Gama11 opened #129 "GitHub-based libraries"
Most libraries on haxelib can be found on GitHub as well. Usually that means a quite a bit of extra work for the developers when pushing releases.

It would be very handy if haxelib libraries could be based on git / GitHub entirely - you would not need to upload the actual package anymore, just a link to the repository inside the `haxelib.json` initially. Tags would function as releases.

There ar

[2014-04-09 08:31] michelkaeser opened #130 "Forgot my password"
Hi there

Sadly I forgot my haxelib password...stupid me didn't save it anywhere.

Would someone mind resetting the password for user "MaddinXx".

Thanks a lot!

[2014-04-14 11:37] nadako opened #131 "No way to override haxelib install/search path via environment variable"
In our project we have both haxe compiler and the required libs bundled into the project repository, so we can easily upgrade versions for all our developers. To make it possible, our build scripts override `HAXEPATH` and `HAXE_STD_PATH`, however after reading haxelib code I found out that there's no environment variable to force specific haxelib path and it always uses one specified by `~/.haxeli

[2014-04-15 09:08] #131 closed, assigned to nobody

[2014-04-18 14:18] #130 closed, assigned to nobody

[2014-04-18 17:56] sirinath opened #133 "Part Downloads"
Is it possible to ensure partly downloaded files are not downloaded from the start.

[2014-04-26 11:23] as3boyan opened #134 "haxelib API get all libs from server"
Seems like this feature would require additional code to server and client sides.

@back2dos It's hard to get into, could you please point me which classes I can extend for it? SiteAPI? add custom request handling + client side command...

[2014-04-27 06:26] #134 closed, assigned to nobody

[2014-05-02 18:08] eirnym opened #136 "Global option where to install tool scripts"
I want to have global option where I want to see tools installed by haxe libraries. Now some libraries ask user, some use `/usr/bin` silently.

[2014-05-07 17:35] larsiusprime opened #137 "Reset password for user "larsiusprime""
Hey there, I'm trying to release this library on haxelib today:
https://github.com/larsiusprime/firetongue

But I can't remember my haxelib password. Can it be reset? And eventually can there be a password reset feature so I don't have to bug you like this?

(Sorry if this is the wrong venue, I posted here because someone on #haxe irc channel suggested it).

[2014-05-22 04:14] dpeek opened #139 "Order of dependency class paths randomised in 3.1.0-rc4"
(libraries anonymized for clarity)

3.1.0-rc3

[code]

3.1.0-rc4

[code]

[2014-05-26 17:13] mitchr opened #140 "haxelib run <package>"
Whenever "haxelib run (package)" is called, regardless of the package, it returns this error :
Uncaught exception - load.c(181) Module not found : run.n

This is on Windows XP with Haxe 3.1.3 and Neko 2.0.

[2014-05-26 19:17] #140 closed, assigned to nobody

[2014-05-28 09:42] #137 closed, assigned to nobody

[2014-05-28 09:57] #129 closed, assigned to nobody

[2014-05-28 10:05] #136 closed, assigned to nobody

[2014-05-28 10:06] #127 closed, assigned to nobody

[2014-05-28 10:10] #90 closed, assigned to nobody

[2014-05-28 10:12] #109 closed, assigned to nobody

[2014-05-28 10:22] #63 closed, assigned to nobody

[2014-05-28 10:25] #5 closed, assigned to nobody

[2014-05-28 10:30] #126 closed, assigned to back2dos

[2014-05-28 11:38] #66 closed, assigned to nobody

[2014-05-28 12:37] #108 closed, assigned to nobody

[2014-05-28 13:00] #102 closed, assigned to nobody

[2014-05-28 13:37] #123 closed, assigned to back2dos

[2014-05-28 13:43] #65 closed, assigned to back2dos

[2014-05-28 14:12] #77 closed, assigned to back2dos

[2014-05-28 14:46] #104 closed, assigned to nobody

[2014-05-29 13:46] ncannasse opened #141 "Local Repositories"
The ability to have several haxelib repos on the same computer (and per-project setup) has been mentioned as part of the WWX discussions. Here we can discuss actual proposals on how this would work in practice before implementing it.

This might be as easy has allowing a ".haxelib" per project that would store the path to the used haxelib repo

[2014-05-29 13:46] #118 closed, assigned to nobody

[2014-05-29 13:47] ncannasse opened #142 "Separate Submit from Publish"
Allow submit without publishing, so people can test against a new version but will not automatically update unless it’s published.

We might want to keep the "submit" to auto-publish, and either have a flag on submit or another command (push?) then a new publish command.

[2014-05-30 03:45] #49 closed, assigned to jasononeil

[2014-05-30 03:50] #93 closed, assigned to jasononeil

[2014-05-30 03:52] #113 closed, assigned to jasononeil

[2014-06-06 22:20] jasononeil opened #143 "New Haxelib Website"
I am creating this issue as a tracker for all the website related work.

#14 Design of the website

The design discussion so far includes:

* CSS to match main Haxe site
* Add a README.md
* Dart's "Pub" tool had a nice design: http://pub.dartlang.org/

#10 Https Support
#33 Cloudfare support (or some other cloud provider to improve download speeds)
#91 User management (password reset etc)
#69 Dox

[2014-06-11 09:33] Atry opened #144 "haxelib run does not escape command-line arguments properly on Windows"
I was generating documentation by [dox](https://github.com/dpeek/dox). I wanted to generate document for all top level classes, so I use some regular expression inputted from cygwin bash, like this:

[code]

Unfortunately, this does not work on Windows. Because when haxelib was passing arguments to shell, which is `cmd.exe` on Windows, haxelib did not escape these arguments. As a result, `cmd.exe`

[2014-06-18 17:31] as3boyan opened #145 "Hangs on haxelib git"
[code]

[2014-06-20 10:59] ibilon opened #146 "haxelib improvements"
Hi,

a friend and I started working on a package manager for haxe because we feel that haxelib is missing a fair amount of functionality.
But after discussing with @hughsando it might be better to try and get them added here instead.

So here's a list of what we think is missing, some might already be work in progress in that case ignore them ;) some would be easy to fit in the existing code, whil

[2014-07-16 03:19] bugQ opened #148 "Pervasive Linux runtime error: Invalid array access"
I ran into this issue with every instance of haxelib I've tried: https://groups.google.com/d/topic/haxelang/ROkSQqDPuLQ/discussion  This includes the AUR buildscript as well as various hand-built versions of haxe, neko, haxelib.  The error occurs at runtime, and regardless of input arguments.

Like the OP, I am using Arch Linux and have not tested this with other Linux distributions.  The fact tha

[2014-07-16 07:39] #148 closed, assigned to nobody

[2014-07-16 07:42] #144 closed, assigned to nobody

[2014-07-17 16:30] #139 closed, assigned to back2dos

[2014-09-21 19:49] RealyUniqueName opened #151 "Request to remove or rename library on lib.haxe.org"
Sorry, i don't know who to send this request to, so i decided to ask it here :)
I've submitted a small library: http://lib.haxe.org/p/DateTime There is a `DateTime` class in it
But later i found it interferes with native `DateTime` class in some targets (php). Now i need to move my `DateTime` class to some package (it will be `datetime.DateTime`). I know i can do it without removing/renaming whole

[2014-09-21 21:00] Eiyeron opened #152 "Array.hx error when trying to run a script"
Hi everyone, it's been a while since my last Haxe installation try. I got again with the Array.hx errors when installing AUR's haxe and neko package but I got around it by installing Haxe from the git repo manually.

My new problem is trying to use haxelib. I can install libs without any problems, but when trying to run the given script with haxelib, it gives again an Array.hx error...

When runni

[2014-09-22 07:43] #151 closed, assigned to nobody

[2014-09-30 16:20] bsideup opened #153 "Page not found HTTP status 200 instead of 404"
Hi!

If I will request non-existing file, for example http://lib.haxe.org/files/3.0/away3d-examples-1,0,3-alpha1.zip , lib.haxe.org will render page with HTTP status 200, but it should be 404.

It's important to get 404 because otherwise it's hard to determine if library exists or not.

Could you please make it 404?

Thanks!

[2014-10-10 12:25] fzzr- opened #154 "Need "haxelib -version" command"
Currently after call `haxelib -version` we have response:

[code]

First line: `Unknown command -version`!
Yes, I can get a version value from second row but it **not beauty**.

[2014-11-26 16:13] #98 closed, assigned to nobody

[2014-11-28 15:21] Eiyeron opened #156 "Wrong haxelib run argument passing"
Hi. HAving switched to x86_64 for some reason, I'm having a new problem with haxelib after having it updated to 3.1.0rc4.

[code]

After dissecating the function run(), it seems that it tries to run a program called itself `neko run.n help /usr/lib/haxelib/haxelib_client/3,1,0-rc,4/tools/haxelib/` and the arguments are quite in a bizarre order. `Sys.comand` seems to ask now only the name of the co

[2014-12-04 09:41] #156 closed, assigned to nobody

[2014-12-09 21:41] wighawag opened #157 "Dependency format has changed"
Hi got this error when trying to publish library using the new version of haxelib.
I saw that now haxelib accept an array of dependencies
Could haxelib accept both version  (at least for a transition period ?)

[2014-12-21 13:22] hughsando opened #159 "haxelib reads haxe files in current directory"
When haxelib uses  "compile and run" to run, the haxe file in the current directory take preference over the haxe files from haxe_std_path.  Particularly, haxelib can't be from from the nme directory because haxe.Timer from nme gets pulled in and then causes an error.
To test, in a fresh directory, create a file "haxe/Timer.hx" with some junk in it, and try to run haxelib.

[2014-12-23 20:41] ProG4mr opened #160 "Setting dev to library subfolder"
It would be great if i could set the dev folder to a subfolder like the git command:

[code]

and it would set the dev lib to:
[code]

or other subfolder, with this i could switch bettween haxelib and git versions without much trouble.

Using windows 7 64 bits - Haxelib 3.1.0-rc.4

[2014-12-26 10:27] #152 closed, assigned to nobody

[2015-01-11 20:57] lostfictions opened #161 "Error when attempting to use ~/.haxelib/ as library directory"
When running `haxelib setup`, if you try to use `~/.haxelib/` as the path to the local repository, it will fail with the ambiguous error `Is a directory.` What's more, trying to run `haxelib setup` again and choosing a different directory will fail until `~/.haxelib/` is removed.

If I had to guess, I'd say [`getRepository` in Main.hx](https://github.com/HaxeFoundation/haxelib/blob/master/src/tool

[2015-01-11 21:12] back2dos commented on #161
Just so that I understand: What you want is that if `~/.haxelib` is a directory, it should be assumed to simply be the directory? That would be doable, but with that configuration, a subsequent `haxelib setup` would become impossible.

Also I would point out that npm saves modules into `node_modules`. By that I just mean to say that this is not as universal a convention as you make it sound.

For

[2015-01-12 01:40] fzzr- commented on #161
Wrong place. You need move this issue to https://github.com/TiVo/intellij-haxe/issues

[2015-01-12 02:02] lostfictions commented on #161
Uh, no I don't? Not sure where you got the idea, but this has nothing to do with IntelliJ. I don't use it, and I didn't mention it here.

@back2dos: fair enough! I guess it doesn't make sense to enable the use of `~/.haxelib` as a directory given that constraint. Still, `haxelib setup` should probably handle the case of `~/.haxelib` being a preexisting directory or of a user trying to set it as th

[2015-01-12 09:22] ncannasse commented on #161
We should test that case in setup and give a proper error message

[2015-01-16 18:02] as3boyan opened #162 "Parse "see changes.md" and print to description"
You know, I and @fzzr- find such description not useful and hard to read. I think that it would be better this way.

For example

[code]

And if `version` in `haxelib.json` matches `changes.md` paragraph/line/field, then it will be taken from there.

[2015-01-16 18:29] fzzr- commented on #162
:+1: I think we need to implement "garbage searcher" as part of Haxelib's validator - no approve if garbage existing or changes.md/txt mentioned.

Garbage for example:
* .git/.hg dirs
* OS's internal hidden files
* Simlinks (!!!) yes, I seen it!
* changes-file in description where length less then five words
.

[2015-01-16 19:22] as3boyan commented on #162
Good idea. If there is a changes.md/txt - then client should look for description there, if there is none - do not approve release with notice, that info for release should be added something like that.

[2015-01-17 09:41] ncannasse commented on #162
While I agree with the "garbage" thing (I recently had to move haxelib storage to another partition because we lacked disk space), I don't think we should enforce people to describe changes in their lib, given that most people don't read them anyway.

[2015-01-24 14:10] initialize opened #163 "Summary after upgrade"
Minor feature request:

Since haxelib upgrade generates quite massive output, way longer than my console backlog, it would be nice with a summary by the end.

I'm thinking something like:
[code]

[2015-01-28 10:14] TheHippo commented on #161
This is the output you get when trying to set haxelib to `~/.haxelib`. It's pretty confusing.

	hippo@hippo:~$ haxelib install lime
	This is the first time you are runing haxelib. Please run `haxelib setup` first
	hippo@hippo:~$ haxelib setup
	Please enter haxelib repository path with write access
	Hit enter for default (/usr/lib/haxe/lib)
	Path : /home/hippo/.haxelib/
	[file_open,/home/hippo/.hax

[2015-01-28 10:17] TheHippo commented on #161
@back2dos: setting the `HAXELIB_PATH` environment variable does not help. (Linux)

[2015-01-30 10:37] andyli opened #164 "haxelib submit broken using latest haxe"
[code]

@back2dos would you take a look?

[2015-01-30 10:42] Simn commented on #164
Are you saying this broke after updating Haxe?

[2015-01-30 10:47] andyli commented on #164
I meant the error occurs when using the latest development branch of haxe, together with the latest master branch of haxelib.

`haxelib` is run using the script generated by `make install`:
[code]

[2015-01-30 12:51] back2dos commented on #164
Uhm, will do.

[2015-02-03 08:31] TheHippo commented on #161
npm saves its cache to `.npm`, gem some information about the remote server into `.gem`.

What about if `~/.haxelib/` is folder the `.haxelib` file is saved under `~/.haxelib/haxelib` and otherwise under `~/.haxelib`? This doesn't make that much sense but provide the most convience for Linux users and still be compatible with haxelib (changing the directory is still possible, etc.)

[2015-02-03 10:42] back2dos commented on #161
That seems like a workable solution.

[2015-02-03 17:37] ncannasse commented on #161
We have code looking for .haxelib file in the haxe compiler for runtime NDLL loading, please simply forbid .haxelib as a directory

[2015-02-03 23:12] scriptorum opened #165 "Ability to rename library by changing json and resubmitting"
If you rename the library in your json file and re-submit it to Haxelib, the name should updated on http://lib.haxe.org.

Similar to issue #151, after submitting  [Flaxen](http://lib.haxe.org/p/Flaxen) to the library, I realized lower-case is a more common naming convention. I now have the name as `flaxen` in the json, but after submitting it still shows as `Flaxen` in the lib. Functionally, it do

[2015-02-05 18:04] dionjwa opened #166 "Feature request: install from *.hxml file allows option to install automatically (without prompt)."
When installing haxe libraries as part of a build process, forcing the user to interact to confirm installation prevents this step being automatized.

So add an option e.g. "--yes" that automatically answers yes to the install prompt.

[2015-02-06 06:35] cambiata opened #167 "-y flag for Haxelib upgrade - yes to all upgrades"
To prevent severe Y finger repetitive strain injuries, it would be cool with an -y flag that would bypass all the "Upgrade library-x to 0.1.2 [y/n/a] ?" questions with "y" answer.

[2015-02-06 11:54] ncannasse commented on #167
That's what "a" is for no ? (always)

[2015-02-06 11:55] Simn commented on #167
The idea is to run it in non-interactive mode. Although I thought there was an option for that already...

[2015-02-25 11:38] markknol opened #168 "Be able to remove haxelib project"
By accident I added this lib http://lib.haxe.org/p/Bar but I really want it to be removed. How can this be done?

[2015-02-27 18:35] explorigin opened #169 "Search on lib.haxe.org could be better"
tl;dr; Need full-text search and some sort of ranking system.

I was having trouble using the std jquery extern so I was looking for an alternative.  I search "jquery" and I get http://lib.haxe.org/p/jquery.

"OK cool, that looks more up-to-date."

Later I learn that http://lib.haxe.org/p/jQueryExtern is the really up-to-date one that everyone is using.  The problem is that a search of "jquery" do

[2015-02-27 18:36] Simn commented on #169
I agree, but... just wait a little bit longer. :)

[2015-02-28 00:26] jasononeil commented on #169
New haxelib website is in progress, and should be done in a few weeks.  We're aiming to release it along with the Haxe 3.2 release.

All the project lists on the new site are sorted by popularity / downloads, so in this case the most popular jQuery library would float to the top.  I'm also getting rid of the logic on the old site that automatically skipped the search page if a library had the exac

[2015-02-28 05:50] jdonaldson commented on #169
:clap:

[2015-03-01 10:09] Simn commented on #145
This must have been some temporary network issue.

[2015-03-01 10:09] #145 closed

[2015-03-01 10:27] Simn commented on #59
*tumbleweed*

[2015-03-04 03:42] fserb commented on #167
Been using haxelib for more than a year. Just figured out what the "a" is for. :)

[2015-03-04 11:47] jasononeil commented on #167
I'm pretty sure there are cases when selecting "a" doesn't work also.  When
I do a complex installation (many hxml files, each with many libs, most
with furhter dependencies) I find myself pressing "a" dozens of times.

I've never bothered to look into it but it would be nice to fix when we fix
this one also.

On Wed, Mar 4, 2015 at 11:42 AM, Fernando Serboncini <
notifications@github.com> wrote:

[2015-03-04 16:41] wighawag commented on #168
this would indeed be useful to be able to remove things

[2015-03-04 17:22] wighawag opened #170 "When wrong passwors, keep asking for password indefinitively, no way out"
Currently "haxelib submit <path to zip>" will ask for password indefinitely upon entering wrong password.

My use case:
I want to call "haxelib submit" from another process via neko sys.io.Process but would like to know whether the submit is in process or the password was invalid.
Unfortunately since "haxelib submit" does not allow to specify a password as argument, neither does it return on wrong

[2015-03-05 10:43] wighawag commented on #170
reading through haxelib code I realized we can actually pass the password as argument
This solve my use case but I still think the while loop for asking password should be limited

[2015-03-05 22:51] ncannasse opened #172 "Running and upgrading haxelib"
After a discussion with @jgranick, I agree that we need to make sure that users can easily upgrade haxelib so we can introduce new usages without waiting for a new haxe release.

Maybe we should always use the haxe macro system on all OS (including Windows), and make sure that we can update the client by saving it into a directory we are sure the user has write access. I'ld surely like to hear wha

[2015-03-05 23:07] jgranick commented on #172
I propose that C:\HaxeToolkit\haxe\haxelib.exe should become a small shim.

If the user has not setup haxelib, it should be able to find a default install of haxelib_client, included with Haxe. This could be located under C:\HaxeToolkit\haxe\std\tools\haxelib_client for example.

If the user has setup haxelib, it should look for a "haxelib_client" package in the haxelib local repository, for examp

[2015-03-05 23:20] jgranick opened #173 "`haxelib git` should install submodules"
When using the `haxelib git` command, it should also initialize and update submodules if they exist

[2015-03-05 23:22] jgranick opened #174 "`haxelib install` should not install dependencies if they exist as a "dev" or "git" library already"
When you run `haxelib install`, dependencies are installed, even if they already exist.

For example, if you have OpenFL and Lime set up as `haxelib dev` directories, installing HaxeFlixel will force the download of both libraries before finishing the install.

[2015-03-05 23:22] Simn commented on #173
I feel like haxelib git was a bad idea and we shouldn't spend any more time on it. But it's not up to me.

[2015-03-05 23:46] jgranick commented on #165
I would like to see an ability to rename a haxelib, but this gets more complex when it is more than just changing the case. I'm not sure that only a haxelib.json change would work, since that does not let "submit" know what the previous name was

[2015-03-05 23:46] jgranick commented on #168
I would like to do this, or at least be able to flag a library as deprecated/renamed

[2015-03-06 00:05] jgranick commented on #173
Yeah, I encourage people to avoid it, personally I use `haxelib dev` with my own checkout, but I have some users who have this problem

[2015-03-06 00:22] nadako commented on #173
Why? It works for me so far.

[2015-03-08 12:43] nadako commented on #168
I think I could implement that, but what's the official position on adding stuff to haxelib? I saw some PRs where @jasononeil and @back2dos were talking about about reworking the architecture before adding new commands, but it's 2015 now and we're still sitting on the same codebase. I'd say, let's just add missing things in the current arch and think about rewriting the whole thing later, when som

[2015-03-08 20:26] back2dos commented on #168
There are no official positions in this project I'm afraid. Mine is that
removing should not be allowed, only hiding from search, etc. Also, the
client code is quite a mess as it is, I prefer adding as little as
possible. The necessity for this feature arises every two months or so.
Generally I have handled this by hand. I don't know how well the site is
moving along, but this kind of administrati

[2015-03-09 13:51] ncannasse commented on #174
Oh, that's because we assume that "dev" is outdated. That should not be the case for dependencies indeed, unless the version number is explicitly required in the dependency

[2015-03-09 13:54] ncannasse commented on #173
I like haxelib git too, maybe simply adding --recursive would be enough ?

[2015-03-09 13:55] Simn commented on #173
And then the next person wants something else which is normally available through the git command line. Where does it end?

[2015-03-09 14:07] nadako commented on #173
Well, submodules are quite particular feature that is used very often.

[2015-03-09 15:31] back2dos commented on #119
Seems to be corrected now.

[2015-03-09 15:31] #119 closed

[2015-03-09 15:34] back2dos commented on #72
What's the state of this?

[2015-03-09 15:34] jgranick commented on #173
I can't think of a reason to not do it recursively by default

One of my issues with `haxelib git` is that it does not understand if `git` is not available as a command in your PATH. As a result, a `haxelib git` directory (done in a Windows GIT bash) will cause trouble any time you `haxelib install` or `haxelib upgrade` from a regular Windows command-prompt

This isn't an issue on a Linux or Mac m

[2015-03-09 15:39] back2dos commented on #92
I'm not much into adding this. Does anyone really intend to use it regularly?

[2015-03-09 15:44] back2dos commented on #173
Fair enough. It could thus be `--flat` for non-recursive cloning.

Also, can you please open another ticket for the other issue you have described?

[2015-03-09 15:45] back2dos commented on #56
Uhm, is this still an issue?

[2015-03-09 15:46] back2dos commented on #112
Does this still occur?

[2015-03-09 15:48] back2dos commented on #4
Any news on this @waneck ?

[2015-03-09 15:52] back2dos commented on #6
This has been rendered obsolete by #168

[2015-03-09 15:52] #6 closed

[2015-03-09 15:54] back2dos commented on #68
What's with the original issue. Does this still need addressing?

[2015-03-09 15:58] jgranick opened #175 "It would be nice if `haxelib git` failed silently during `haxelib upgrade`"
Moving over from #173 :smile:

It would be great if `haxelib git` did not error when `git` is not available, instead, I think it would be nice if this command printed a warning that it was not able to update since `git` was not available, then it could continue. This is ideal for environments where GIT is not always in your path (such as a Windows GIT bash versus a traditional command prompt)

Tha

[2015-03-09 16:00] back2dos commented on #70
Ok, I will change `submit` to either work with directories or `zip`. So to submit the current directory, it will be `haxelib submit .`.

[2015-03-09 16:06] back2dos commented on #175
Oh, thanks for clarifying.

[2015-03-09 16:09] back2dos commented on #33
What's the progress on this?

[2015-03-09 16:14] back2dos commented on #146
Sorry, but I'm going to have to close this. It would really help if you guys could make individual issues of the parts that really matter. Thanks.

[2015-03-09 16:14] #146 closed

[2015-03-09 16:15] Simn commented on #175
I don't get it, why would haxelib GIT not fail if you don't have git installed?

I don't like silent failures very much, especially not as default behavior.

[2015-03-09 16:18] back2dos commented on #172
I will see to it that haxelib becomes a .bat on windows, that just launches a haxelib.n, which we can replace while running.

The `haxelib dev haxelib_client` approach sounds nice, but that wouldn't work since in order to run `haxelib` we'd need to call `haxelib path haxelib_client`, so that's kind of a chicken and egg problem.

[2015-03-09 16:18] waneck commented on #33
Oh sorry, I completely missed @ncannasse's post. I'll get in contact with him to set this up

[2015-03-09 16:20] back2dos commented on #29
Jason, do you feel like looking into this or closing it? It's time to regain the upper hand! ;)

[2015-03-09 16:22] waneck commented on #4
No but it's now back into my mind. I'll think about a solution and propose here

[2015-03-09 16:24] back2dos commented on #175
@Simn: The scenario is that you install a library with `haxelib git` from an environment where `git` is available, and then run `haxelib upgrade` from an environment where it isn't, which then will choke as soon as it tries to update that thing.

[2015-03-09 16:26] Simn commented on #175
This issue title has haxelib git, not haxelib upgrade. It makes more sense for the latter.

[2015-03-09 16:28] back2dos commented on #142
Seems that using `alpha` etc. actually solves this.

[2015-03-09 16:40] jgranick commented on #172
So currently, haxelib.exe is the haxelib.n + Neko boot.

I was thinking, the shim could use Neko boot, but could use the Neko "loadModule" code in order to find the haxelib_client.n file. This would not require Neko on the system, nor would it require the Haxe executable (helping to avoid a chicken-and-egg problem)

Yes, it would need to find the path, but the shim would need to understand this lo

[2015-03-09 17:07] ncannasse commented on #142
@back2dos are you sure ? does the server makes such exception when it comes to marking the current version ?

[2015-03-09 17:13] #157 closed

[2015-03-09 17:34] delahee commented on #92
Not anymore, you can close, thx.
Le 9 mars 2015 16:39, "Juraj Kirchheim" <notifications@github.com> a écrit :

[2015-03-09 17:43] #70 closed

[2015-03-09 17:57] back2dos commented on #164
Is this still an issue?

[2015-03-09 18:06] #92 closed

[2015-03-09 18:11] back2dos commented on #172
I don't understand why I can't use batch files. Can't the calling batch file use `call` or start a new `cmd` if it wants to continue on failure?

[2015-03-09 18:17] back2dos commented on #142
I'm not sure I understand the ticket in the first place. Would not installing anything that is alpha/beta/rc unless explicitly specified solve this problem?

[2015-03-09 18:29] jgranick commented on #172
The user expects to be able to create a batch file like this:

    haxe Build1.hxml
    haxe Build2.hxml
    haxe Build3.hxml

Similarly, I think they would expect the same of haxelib:

    haxelib run lib1
    haxelib run lib2
    haxelib run lib3

Sure, it would work if they used "call" but I don't think people will catch that they had to do this. A simple self-executable (like the one I linked)

[2015-03-09 18:38] back2dos commented on #172
I'm not exactly sure that this is a sensible expectation. If there is an error, I would expect it to terminate the script instead of continuing. I think error suppression should be an opt-in, as permitted by call. Does anybody else have an opinion on this?

[2015-03-09 18:40] jgranick commented on #172
Oh, no... batch scripts would exit after the first call, regardless of whether there was an error. It would simply only call the first instance of "haxelib" and exit.

[2015-03-09 18:55] back2dos commented on #172
Sorry, got confused. In the second case that would indeed be an issue. In
the first one it shouldn't though, since -lib arguments get handed through
the compiler first. But you're right, they both should work. A shim it is
then.

On Mon, Mar 9, 2015 at 7:40 PM, Joshua Granick <notifications@github.com>
wrote:

[2015-03-09 19:58] zaxebo1 commented on #29
please do it. It will facilitate multiple installation of **multiple different versions of haxe (say, one latest "stable" release, another currrent git version )** working in two different gnome-terminal , by setting two different environment variable.
This is really essential.

[2015-03-09 22:58] jasononeil commented on #70
:+1: :+1: :+1:

[2015-03-10 00:29] jasononeil commented on #142
I'm happy to look into this.  It will require a change on the server API where it chooses the "current" version.  It needs to choose based on the semver, currently it chooses based on the date of submission (See https://github.com/HaxeFoundation/haxelib/blob/master/src/tools/haxelib/Repo.hx#L285).

There would be a few changes (improvements/fixes) to the semantics:

* The website lists would be so

[2015-03-10 02:07] jasononeil commented on #29
Yeah I think it's worth having.  I saw Nicolas committed a change which involved a hidden ".haxelib" directory, but I haven't looked into it yet.  I'll schedule some time to do some haxelib work at the end of the week.

[2015-03-10 02:11] jasononeil commented on #168
At the moment I've focused on the site providing a better experience for
discovering and learning about projects.

I do intend to add some project management features though.  I was mostly
thinking about password resets, but deprecating projects is probably
important too.  I agree it's probably easier to manage through the web
interface than yet another command on the haxelib client.

On Mon, Mar

[2015-03-10 02:12] zaxebo1 commented on #29
:+1:
 wow. It will be great to have this feature finally, before impending haxe 3.2 version release.

Because then i can have "3.1" (as it is old stable) , "3.2" (as it is forthcoming stable), and as always latest git version - all running on my machine and server in a far cleaner way, this time.

[2015-03-10 02:26] jasononeil commented on #165
I think we go for a "rename" or "deprecate" ability through the web interface.  Let's handle this in #168

[2015-03-10 02:26] #165 closed

[2015-03-10 03:14] andyli commented on #164
Yes. It still behaves the same as I said in the previous comment.

[2015-03-10 06:13] back2dos commented on #164
Any clue as to what haxelib_src might be?

On Tue, Mar 10, 2015 at 4:14 AM, Andy Li <notifications@github.com> wrote:

[2015-03-10 06:31] andyli commented on #164
"haxelib_src" is the source of haxelib, checked out the master branch with the latest commit 94e233284e1bae7a1324e6ce58b7084465c4f2a3.

In fact, the issue can be reproduced by:
[code]

[2015-03-10 08:20] nadako commented on #29
Wait, isnt HAXELIB_PATH already implemented?

[2015-03-10 08:38] back2dos commented on #29
Just a few weeks back I have heard it doesn't work in another issue. And also the more extensive search that Jason laid out above is not implemented.

[2015-03-10 08:44] ncannasse commented on #142
I agree for everything apart from haxelib update sticking to the same level of release. I think this will cause much more issues that it fixes. Maybe we could instead have an extra optional parameter such as "haxelib update mylib 3.2" that would update to the latest 3.2.x

[2015-03-10 08:58] ncannasse commented on #164
I'm starting to think it was a very bad idea to move haxelib outside of haxe GIT...

[2015-03-10 09:01] ncannasse commented on #29
We have a way to have a per-project repository, which I think is better than having to switch per-terminal environment variable

[2015-03-10 09:14] back2dos commented on #164
Can you elaborate?

On Tue, Mar 10, 2015 at 9:58 AM, Nicolas Cannasse <notifications@github.com>
wrote:

[2015-03-10 09:19] back2dos commented on #142
You can always use `haxelib install <libname> <version>` to get a specific version. As it is, `haxelib update` is basically equivalent to `haxelib install <libname> latest`.

I also think what Jason proposes is to stick with the same level of a major release. Since major releases are meant to express a break in compatibility, that seems a sensible thing to do.

[2015-03-10 11:24] back2dos commented on #142
For now I have implemented this by having the client filter for the latest stable, as `ProjectInfos` has the whole version log anyway. Does that solve the issue @ncannasse ? If so, please close.

Regarding all the other SemVer related stuff, I'm going to move this into another ticket, as that's out of scope of this issue.

[2015-03-10 11:31] back2dos opened #176 "Use SemVer where sensible"
In #142 @jasononeil made a couple of propositions regarding this:

Regarding the update rule, @ncannasse voiced concerns. I share them in so far as that if as a community we don't embrace SemVer, then relying on it will do more harm than good. Another solution would be of course to commit to it, but that pretty much hinges on the compiler team also taking that step.

[2015-03-10 11:48] zaxebo1 commented on #29
@back2dos :  yup, you are right.
     "currently" HAXELIB_PATH many a times does not work correctly for haxe-compiler and haxelib both.

[2015-03-10 12:32] ncannasse commented on #164
Well, it seems even harder than before to take decisions, nobody seems to feel responsible for fixing things (maybe I should ?), and regressions are introduced without (almost) anyone noticing or reacting.

[2015-03-10 12:38] Simn commented on #164
I'll go on strike if you bring this back into my field of vision!

[2015-03-10 12:38] ncannasse commented on #142
@back2dos I'm not sure that it solves it or not, could you reference the corresponding commit ?

[2015-03-10 12:42] ncannasse commented on #164
[edit] (maybe @Simn should ?)  :-)

[2015-03-10 12:44] #122 closed

[2015-03-10 13:14] back2dos commented on #142
This is basically it: https://github.com/HaxeFoundation/haxelib/commit/e8417a55d4f8bb18145389da325efb1713c96bc4

Although the current state is a little different now (sorting by semver version comparison): https://github.com/HaxeFoundation/haxelib/blob/master/src/tools/haxelib/Data.hx#L196

[2015-03-10 13:30] back2dos commented on #164
Yes, this project clearly lacks any kind of leadership. And it's hard to step into the role without the foundation laying out project goals. I would be willing to take on more responsibility, but I'd rather not have to go get feedback, particularly if it's not given or given after several months. Anyway, this is probably something to discuss at the WWX and not here.

[2015-03-10 19:06] madprog commented on #112
I cannot really test this again, as I don't have the same environment any more.

[2015-03-10 19:06] #112 closed

[2015-03-11 16:13] jgranick commented on #70
Does this provide any filter? For example, I expect filtering `.DS_Store` or `.git` would be common

[2015-03-11 16:16] back2dos commented on #70
For the time being anything with a leading dot is skipped: https://github.com/HaxeFoundation/haxelib/commit/94e233284e1bae7a1324e6ce58b7084465c4f2a3#diff-fd809aff323d8e96db532340a488fed5R386

[2015-03-12 12:02] #154 closed

[2015-03-12 14:53] back2dos commented on #166
I'm going to treat this as a duplicate of #167.

[2015-03-12 14:53] #166 closed

[2015-03-13 03:00] bjitivo opened #178 "haxelib submit fails due to limited license choices"
We have a haxelib that we'd like to publish, and its license is Apache 2.0.  This is an open source license, but the haxelib program refuses to allow this haxelib to be published because it's not one of the following licenses:

GPL,LGPL,BSD,Public,MIT

I think that the haxelib program should allow other licenses.  Perhaps a free form string for specifying the license.

[2015-03-13 06:58] andyli commented on #178
FYI Apache has been added recently (#155). We need to wait for a new haxelib release before using it though.

[2015-03-13 07:29] back2dos commented on #178
We have rejected the notion of free form strings a while ago.
However, if you make a solid case for any particular license, we'll be glad to add it. As Andy said, Apache license has been added just recently and should become available to you in the days to come.

[2015-03-13 07:46] #167 closed

[2015-03-13 07:48] back2dos opened #179 "Make argument parsing more bearable."
All switches must precede the command. They are nowhere to be found in the usage either.

[2015-03-13 14:33] #173 closed

[2015-03-13 14:34] #179 closed

[2015-03-13 14:35] back2dos commented on #173
I haven't got the chance to test this. Does anybody have an example repo I could test this against? @jgranick maybe?

[2015-03-13 15:08] back2dos commented on #159
I think the best we can do is to change the cwd to where the haxelib script is and then --run it there. That should avoid such collisions. Could you look into that @jasononeil ?

[2015-03-13 15:35] #175 closed

[2015-03-14 00:27] jasononeil commented on #159
@back2dos It turns out the Haxe Makefile was already doing something similar (change directory before running), so I made the `/usr/bin/haxelib` shell script generated by selfupdate do the same.

Can you check if this will affect the Windows update mechanism, with "update.hxml" etc?

[2015-03-14 00:51] jasononeil commented on #29
So, @nadako is correct.  "HAXELIB_PATH" is already implemented, we just need to release a new version.  As for the "more extensive search", Nicolas' approach is better.  Is there any reason you have commented it out @back2dos?

@ncannasse commit: 5c5e885c0edd2fd3d5773cb98af337ce17057233
@back2dos revert: 5d201e66ed6758e60700b817495db1ee83fe2906

If we put it back in (uncomment it) then the logic /

[2015-03-14 01:55] jasononeil commented on #56
Yes, but I doubt it affects many people.  I'll look at it after some of the more urgent ones.

[2015-03-14 01:56] jasononeil commented on #29
I'm guessing you commented it out because it wasn't compiling, due to use of `FileSystem.absPath`, which didn't exist in 3.1.3, and has already been renamed to `absolutePath` for 3.2.

I've worked around that in the code (the function being called was only two lines anyway, only one of which we needed).  Once I push that I think we're safe to close this issue.

We'll need to make a note to documen

[2015-03-14 02:34] jasononeil commented on #159
Alright, the "change directory first" solution is problematic.  Because we change the cwd, all of the haxelib commands which run on the current cwd are broken.  (Everything from "install build.hxml" to "submit" to "newrepo").

I see a few options:

1. Keep changing the directory first, but use some environment variable "HAXELIB_CWD" or similar.  To do this we'd need to:
    * Modify Main.hx to use

[2015-03-14 02:52] jasononeil commented on #29
I've re-enabled the commands, but forgot to mention it in the commit message:

https://github.com/HaxeFoundation/haxelib/commit/0fed019b9c2e2aae22ff3007979737265753d54a

I renamed them to "newrepo" and "deleterepo", to prevent people being confused and thinking they start a new project or delete an old project or delete an installed library etc.

@ncannasse  if you feel there is anything unsatisfa

[2015-03-14 02:52] #29 closed

[2015-03-14 03:07] zaxebo1 commented on #29
So, does it mean that ""now, i do not need to have sudo rights (that is, i do not need to use /usr/lib/haxe)  and also  i now can "compile haxe itself  from source" in my normal user(non-admin user) home directory itself and  also compile haxelib from source and use haxelib entirely in my user's home dir. Obviously this will also lead to parallel installations""

I will test this codecommit and re

[2015-03-14 03:12] hughsando commented on #159
I think 2 could be useful elsewhere maybe, so a good option.
I like 3 because it solves the bootstrap problem if you are developing
haxelib itself.

Another option might be to explicitly add $HAXE_STD_PATH as a class path -
would this then take priority over "." rather than the other way around?

I would certainly go for option 2 over option 1.

On Sat, Mar 14, 2015 at 10:34 AM, jasononeil <notifi

[2015-03-14 05:15] #68 closed

[2015-03-14 05:17] jasononeil commented on #68
Basically in some places (but not all) we set ".current" to the string "dev" when dev mode was enabled.  But this wasn't actually required - the existence of a ".dev" file is all that matters.

Furthermore, it meant when you disabled dev mode on a library, it did not always restore the previous version as "current".

Fixed now.

[2015-03-14 05:23] jasononeil commented on #176
@back2dos am I right that the update you did for #142 means I can tick off the boxes above?

If it is then I think we could get the remaining boxes ticked for the 3.2 milestone.

[2015-03-14 05:40] jasononeil commented on #159
I agree that option 1 is the one to be avoided.

So that leaves:

* Option 2: Haxe flag to not use "." as classpath
* Option 3: Pre-compiled haxelibs on Unix platforms
* Option 4: Some way of setting a classpath (or HAXE_STD_PATH) as higher priority than "."

@ncannasse do you want to decide?

[2015-03-14 05:44] jasononeil commented on #29
For me it means I can have a project in:

    /home/jason/workspace/ufront/hello/

And then when I run `haxelib newrepo` it creates:

    /home/jason/workspace/ufront/hello/.haxelibs

Now `haxelib install`, `haxelib path`, etc will all use that local directory.  No environment variables or setup files needed.  There are some disadvantages (having to download libraries more than once) but overall t

[2015-03-14 08:00] back2dos commented on #176
Partially. I don't think "You could upload a bug fix for a "2." version, when "3." is already uploaded, and "3.*" will remain current." is handled by that. The last two shouldn't be very hard. The `getLatest` function accepts a prerelease filter that should make this relatively straight forward.

[2015-03-14 08:10] back2dos commented on #159
Wasn't neko on linux always a tricky subject, or is that a thing of the past?

Anyway, I think there's a solution where the haxelib script does something like this:

[code]

We'd just have to support a -cwd argument for haxelib (that'll just setCwd()) and write the above in bash or whatever and things should work, right?

[2015-03-14 08:29] back2dos commented on #29
I commented it out, because it didn't compile and because I had plans to replace it by a behavior not that quirky. What I mean by that:

1. I have reservations about it: https://github.com/HaxeFoundation/haxelib/issues/141#issuecomment-66418541
2. it introduces behavior that we will have to support in the future. Duplicating libraries all over the place is not something I am very fond of. This pro

[2015-03-14 08:30] jasononeil commented on #176
I'll leave it unticked until it works and is tested then.  Thanks :)

[2015-03-14 08:40] hughsando commented on #159
Might not work with a local .haxelib directory, but then you may be asking
for trouble if you reimplement haxelib in a .haxelib directory. But maybe
this is not so crazy.

But I think this should work:

command('haxe', ['-cp', 'haxelibSource', '-cp',
Sys.getEnv("HAXE_STD_PATH"), '--run',
'tools.haxelib.Main'].concat(Sys.args());

I still like the --classpath-no-cwd option.  Cpp uses #inclucde <a.h

[2015-03-14 12:50] ncannasse commented on #142
Looks fine to me. We still need to do a bit of SemVer sorting on the website, so assigning to @jasononeil

[2015-03-14 12:55] ncannasse commented on #29
@back2dos I'm fine with any counter proposal when it's backed with an intention to actually contribute an implemention. We have been discussing local repos for a long time and nobody has yet even experimented with it. My solution is maybe not perfect but it works pretty well and is quite simple to understand for the end user.

We stil need to adress the selfupdate issue, but let's maybe open an se

[2015-03-14 12:56] ncannasse commented on #176
If we use semver, I think we should simply remove the notion of "current"

[2015-03-14 12:57] ncannasse commented on #176
(including in the haxelib db/source code) so we make sure that all the cases are treated accordingly

[2015-03-14 16:02] back2dos commented on #159
Ok, @jasononeil, the `-cwd` is in place. How are your bash skills? ;)

[2015-03-14 19:13] zaxebo1 commented on #29
after testing , it is working fine , the way i needed. thanks

[2015-03-15 07:41] jonasmalacofilho opened #180 "Missing Data.hx in 3.2.0-rc.1"
This results in "Class not found : tools.haxelib.Data" (from "Main.hx:36") when running `haxelib seflupdate` as of today.

[2015-03-15 08:56] back2dos commented on #141
Ok, after talking with @ncannasse we're adding this. I have fixed the selfupdate issue and added a `--global switch` that allows to fall back to the global repo from a local one (might be useful for `haxelib run`).

I have also talked with @jasononeil and we intend to pursue a different strategy. More on that later though.

[2015-03-15 08:56] #141 closed

[2015-03-15 09:07] back2dos commented on #100
Can you elaborate on this one? I think HAXEPATH really is a windows only thing, while HAXELIB_PATH is the cross platform way to set the path through environment variables.

[2015-03-15 11:00] back2dos commented on #180
Done.

[2015-03-15 11:00] #180 closed

[2015-03-15 11:29] waneck commented on #164
This issue is probably related to the use of macros on haxelib. `haxe --run` is run on the macro context, so it cannot contain any macros ( like https://github.com/HaxeFoundation/haxelib/blob/master/src/tools/haxelib/Validator.hx#L153 ). I think we need to solve this before 3.2-rc

[2015-03-15 11:30] waneck commented on #164
By the way, I can reproduce this as well

[2015-03-15 11:38] #164 closed

[2015-03-16 01:19] jasononeil commented on #142
I'll track that in #176

[2015-03-16 01:19] #142 closed

[2015-03-16 08:36] back2dos opened #181 "Write tests for selfupdate"
Given that the critical part of selfupdate can now be triggered with `haxelib local haxelib_client.zip --always`, setting up testing for it should be fairly straight forward.

[2015-03-16 11:38] jasononeil commented on #159
This is done as far as haxelib is concerned.  (Still have to update the Makefile on the Haxe installer, but probably not until they're ready to do another sync of the Haxelib repo...)

But I want to explore option 3 further - using binaries on unix platforms, rather than "--run".

One issue I ran into was `sys.io.Process( 'which', ['haxelib'] )` not working anymore on 3.1.3, but working correctly

[2015-03-16 11:42] back2dos commented on #159
Yep, another issue would be good. We could start there by documenting the differences between --run --interp and precompiled neko. Can you close this issue if it's dealt with?

[2015-03-16 12:03] #170 closed

[2015-03-16 12:13] back2dos opened #182 "Allow for library versions to define compatible Haxe versions"
The client should then filter based on the current version, particularly in `Data.getLatest`.

[2015-03-16 12:53] back2dos opened #183 "Post install hooks"
This one goes mostly to @ncannasse who has opposed this up until now.

I'm not really against, because with macros, malicious code can be executed with simply by calling `-lib evillib` (which has `--macro evellib.CitadelOfDoom.worldDomination()`).

The one issue I see is that there are situations where users need to run haxelib with sudo, in which case a post install hook would have more permissio

[2015-03-16 13:00] back2dos commented on #182
I consider this selfupdate related, because in the future we don't want old setups to selfupdate haxelib to versions that are incompatible with the locally available Haxe version.

[2015-03-16 16:50] back2dos commented on #183
To quote Hugh from haxedev:

[2015-03-16 20:34] ncannasse commented on #182
The problem is the following : I don't think we can automate this, and I don't think we can rely on the users to correctly tag their libraries :)

[2015-03-16 20:50] ncannasse commented on #183
Why not but then let's make sure that it's at least written in Haxe by running it with haxe --run, so our wanabee world dominators will have to learn Haxe first, so we win.

[2015-03-16 20:59] back2dos commented on #182
This is strictly intended as an opt-in. Nobody *has* to use this feature. By default haxelib will assume all language versions are compatible. And I do think in the future some library maintainers will be happy to be able to drop support for older language versions without messing up old setups. And even if nobody else uses this except haxelib_client, I think we can make good use of it ;)

[2015-03-17 04:04] underscorediscovery opened #184 "haxelib consumes the debug flag?"
This is a regression in 3.2.0-rc.1 release:

[code]

What happened to --debug!!?
I can't tell if this is from haxelib specifically but I dont think it's in `Sys.args();`

[code]

[2015-03-17 04:07] jasononeil commented on #184
@back2dos, would it be reasonable to consume flags before "run", and any
flags encountered after that are passed to the run command?

On Tue, Mar 17, 2015 at 12:04 PM, Sven Bergström <notifications@github.com>
wrote:

[2015-03-17 04:30] T1mL3arn commented on #184
Recently I posted something like this here https://github.com/HaxeFoundation/haxe/issues/4021 , and here is more related issue. Now (with 3.2.0 rc1) the FlashDevelop not starting debug session and moreover, flash app is compiled each time as release version even if I use debug option from FD or from console.

[2015-03-17 07:37] jonasmalacofilho commented on #164
The fix for this hasn't been included in the latest client in the server and available to 'selfupdate'.

[2015-03-17 07:43] Simn commented on #164
It should be in the latest release.

[2015-03-17 08:11] back2dos commented on #184
That's already fixed, just not deployed:
https://github.com/HaxeFoundation/haxelib/blob/master/src/tools/haxelib/Main.hx#L329

On Tue, Mar 17, 2015 at 5:07 AM, jasononeil <notifications@github.com>
wrote:

[2015-03-17 08:21] underscorediscovery commented on #184
Any idea when that might be in the packaged build? (@simn has been updating the rc.1 packages with fixes in the mean time).

It is pretty difficult to test 3.2.0 for bugs without a debug flag in all my haxelib run workflows :)

[2015-03-17 08:23] Simn commented on #184
I'll re-release again over the course of the day and let you know.

[2015-03-17 08:43] back2dos commented on #184
@underscorediscovery You can try haxelib selfupdate for now.

[2015-03-17 08:43] #184 closed

[2015-03-17 08:43] back2dos commented on #164
@jonasmalacofilho Done.

[2015-03-17 12:33] andyli opened #185 "haxelib install build.hxml should install hxcpp/hxjava/hxcs"
Implied target dependencies should be installed.

For example, with the "build.hxml" file as follows:
[code]
`haxelib install build.hxml` should install hxcpp.

[2015-03-17 12:50] #185 closed

[2015-03-17 13:15] hughsando commented on #159
Maybe you fixed this post 3.2 rc2 release?  The following fixed worked for me on mac - adding HAXE_STD_PATH explicitly in the shell script:
#!/bin/sh
exec haxe -cp "/usr/lib/haxe/lib/haxelib_client/3,2,0-rc,2/src/" -cp "$HAXE_STD_PATH" -D haxelib_client=3.2.0-rc.2 --run tools.haxelib.Main "$@"

Hugh

[2015-03-17 13:37] hughsando opened #186 "Using haxelib as a haxelib"
Creating an extra process and parsing data seems like overkill when we have a haxelib sitting there in a haxelib and it makes me sad.
I suggest the following:
Move 99% of the code out of "Main" and put in in Haxelib, with main, just:
[code]
Even making new and checkRec and args public would make this work as a library.

[2015-03-17 14:19] back2dos commented on #186
This is planned for obvious reasons.

I've discussed it with @jasononeil and we really want to decouple the CLI and the underlying client logic. It's not really reasonable to have to pass in your arguments as an array, or have it just access your stdin if there's not enough of them.

If you are happy with the current interface, you can just use `@:privateAccess` for the time being ;)

[2015-03-17 14:27] hughsando commented on #186
Yes, this is fair enough.
I guess that as a library, a "read only" api might be simple.  The only one I would really use is "where is this library[:version]".  A List/Array of {name,version,isCurrent,directory,dependency[]} would be icing on the cake. Not too far off checkRec.

[2015-03-17 15:32] underscorediscovery commented on #184
It seems to be resolved (barring haxelib selfupdate breaking itself, but after resetting I think the debug flag is back thanks)

[2015-03-20 14:39] ibilon opened #187 "Installing lime fails"
Using haxe-3.2.0-rc.2 linux 64 bits and its bundled haxelib installing lime fails.

[code]

and ends up like this:
[code]

Downloading the zip from the website and using haxelib local fails too,
the zip is correct and manually extracting it works.

I installed actuate, box2d, HaxePunk, hxcpp, layout, openfl-samples, openfl and swf without any problems.

[2015-03-20 16:27] fzzr- commented on #154
Works. Thx!

[2015-03-20 18:53] adamscott commented on #187
Same here! On Mac OS 10.10 (Yosemite) x64.

[2015-03-20 21:49] delahee commented on #187
I had the same issue because my lime directory was locked by my anti virus,
no error spawned...

[2015-03-20 23:48] jgranick opened #188 "Should 'haxelib upgrade mylib' work the same as 'haxelib update mylib'?"
I cannot remember how many times this has happened:

`haxelib upgrade mylib`

I'm thinking I want to update only the one library, but instead it upgrades everything. There's the separate `update` command for this, but the difference seems a little too nuanced to me.

Is there a good reason why they can't be synonyms, and behave differently based on the number of arguments?

[2015-03-21 16:20] jgranick commented on #187
This just happened to me as well. Is it because Lime includes a ".gitignore" file? Does it stop extracting when it hits a "." file, rather than skipping and continuing?

[2015-03-21 16:22] jgranick commented on #187
Nevermind, this was fixed after I ran `haxelib selfupdate`

I wish haxelib were able to update during a "haxelib upgrade" like other libraries ;)

[2015-03-21 18:34] ibilon opened #189 "haxelib selfupdate fails"
I tried to run `haxelib selfupdate` but ran into this issue:
[code]
I ran the command as root (linux 64) and I have the permission.

Doing a copy of `/usr/lib/haxe/haxelib` and using it to run the command fixed it.

[2015-03-21 18:41] ibilon commented on #187
I ran a selfupdate but it didn't fixed it.

haxelib:
[code]
but
`Haxe Library Manager 3.2.0-rc.1 - (c)2006-2015 Haxe Foundation`

Was the string not updated or did my selfupdate didn't succeed?

[2015-03-21 18:49] jgranick commented on #187
Actually, `haxelib install lime` failed like above, downloading manually from http://www.openfl.org/builds/lime and running `haxelib local <name of zip>` also failed. I ran `haxelib selfupdate`, then I used `haxelib local` again. I didn't actually test `haxelib install` again after the update

[2015-03-22 10:11] Simn commented on #187
We should check this before release.

[2015-03-22 12:09] ibilon commented on #187
Following @jgranick's idea I tried removing all files starting with a "." from the lime zip and then doing a `haxelib local`, it fixes the error.

[2015-03-22 12:22] back2dos commented on #187
Fixed here (sorry, flipped the issue number): https://github.com/HaxeFoundation/haxelib/commit/68f25d97dc991516c02a2665081ba5cc0d2ae23e

[2015-03-22 12:22] #187 closed

[2015-03-22 12:24] Simn commented on #187
Remind me to sync haxelib as soon as I start behaving like I'm about to package a Haxe release.

[2015-03-22 12:25] back2dos commented on #187
Will do.

On Sun, Mar 22, 2015 at 1:24 PM, Simon Krajewski <notifications@github.com>
wrote:

[2015-03-22 12:59] fzzr- commented on #162
One more argument in favor of mandatory cleaning of garbage (such as `.file`, `.dir`, sim-links, etc..).
https://github.com/openfl/lime/issues/373#issuecomment-84447703

[2015-03-22 13:06] ibilon commented on #189
Oh and btw trying a second time `haxelib selfupdate` will say `Haxelib was already up to date...` and assume everything went right the last time and won't try to update.

[2015-03-23 06:50] fzzr- opened #190 ""[y/n/a] ? a" not work in 3.2.0-rc.3"
Fragments of log:
[code]

[2015-03-23 07:35] back2dos commented on #190
This has never worked. I will see if there is an easy fix for it. In the meantime, I suggest you use `--always` instead.

[2015-03-23 07:40] #190 closed

[2015-03-23 13:20] madneon commented on #189
I can confirm this error on Ubuntu 14.04 (64).

[code]

[2015-03-23 13:37] andyli commented on #189
What is the haxelib version you were using? The selfupdate action is performed by the old version of haxelib.

[2015-03-23 14:08] ibilon commented on #189
@andyli 3.2.0-rc.1, the one bundled with haxe 3.2.0-rc.2

[2015-03-23 15:00] ibilon opened #191 "change of lib directory brake haxelib"
Doing another `haxelib setup` and then moving the lib folder will break haxelib since the path to the "real" haxelib is hardcoded.

[code]

changing the cd to
[code]
would prevent that.

[2015-03-23 15:39] back2dos commented on #191
That might do the trick, although you cannot really assume that `~/.haxelib` is the right place to look for the path.

@jasononeil Maybe we could use something more basic, like the path where haxe itself located?

[2015-03-23 16:39] ibilon commented on #191
@back2dos The error happened to me because I moved the lib folder away from where haxe is (so I can switch haxe version more easily)

[2015-03-25 10:01] jgranick opened #192 "Cannot submit Lime to haxelib (3.2.0-rc.1)"
I cannot submit Lime to haxelib using haxelib 3.2.0-rc.1, it says:

    `"::extension::"` contains invalid characters

This is coming from the "templates/extension/haxelib.json" file. I can't figure out how to update haxelib on Linux (since "selfupdate" fails) so I'm sorry I can't say if this is fixed or not

[2015-03-25 10:07] jgranick commented on #157
I just got this error using the latest version on a Windows machine (where `haxelib selfupdate` does work). Most of my libraries use an empty `"dependencies": {}`, which failed

[2015-03-25 11:12] back2dos commented on #157
This is really weird. What haxelib version did you get? The code that raised this error message was removed [is nowhere to be found anymore](https://github.com/HaxeFoundation/haxelib/search?q=format+has+changed&type=Code&utf8=%E2%9C%93),

[2015-03-25 11:29] back2dos commented on #192
This is the same issue as #187.

[2015-03-25 18:42] jgranick commented on #157
Hmm, perhaps I actually got the error on Linux, then I probably tried removing the "dependencies" field entirely to submit, but I left a trailing comma after the field before it, which resulted in a cryptic error about "position 315" or something. I wanted to report the problem I had, but perhaps I did not try to resubmit with the dependencies field as-is, because I expected the same error

[2015-03-25 18:42] jgranick commented on #157
Sorry if this sounds like a false alarm, just trying to bring attention to things and not forget them as they come up

[2015-03-26 22:06] ncannasse commented on #178
@back2dos could you confirm that Apache is correctly accepted as license string now ? @jasononeil  the website might need to be updated in order to allow such submit

[2015-03-26 22:09] bjitivo commented on #178
The website still is not accepting Apache license haxelibs as of about 1 minute ago, I tried it ...

[2015-03-27 02:35] jasononeil commented on #192
@back2dos is this fixed then?

[2015-03-27 03:17] jasononeil commented on #188
+1, this has caught me out too.

[2015-03-27 19:57] jgranick opened #193 "Proposal: Haxelib shim"
# Haxelib Shim

## Current Problems

Many users experience problems running `haxelib selfupdate`

On a Mac or Linux system, "/usr/lib/haxe/haxelib" may require elevated system privileges, and may be locked.

On Windows, running "haxe update.hxml" afterward feels messy.

Experienced developers I know do not run `haxelib selfupdate` at all -- they have never heard of it.

If we make vital improvemen

[2015-03-27 20:01] Simn commented on #193
There have been similar discussions before but I can't find them right now. I think we agreed that the current version of selfupdate is not really sustainable, but I don't remember if there was a consensus on alternatives.

[2015-03-27 20:03] ncannasse commented on #193
That would be nice if people having update issues could comment on the proposed implementation

[2015-03-27 20:04] ncannasse commented on #193
@jgranick could you confirm on which system you have been testing the changes ?

[2015-03-27 20:15] jgranick commented on #193
I have successfully used this on both my Linux VPS and my Windows system, I will check Mac now

[2015-03-27 20:19] jgranick commented on #193
It worked perfectly on the Mac as well

[2015-03-27 20:24] jgranick commented on #193
I added build instructions to the README https://github.com/jgranick/haxelib-shim/blob/master/README.md

[2015-03-27 20:26] ousado commented on #193
What about the distinction of system-wide and per-user installs and upgrades respectively?

[2015-03-27 20:26] Simn commented on #193
I like the general idea but I'm not sure about the concrete implementation. There are some path conventions going on there (if file x exists do this, else do that) which I was hoping would be something we back away from.

We should give this some more thought and aim for inclusion in the Haxe 3.3 release.

[2015-03-27 20:40] larsiusprime commented on #193
March 2015: Haxe 3.2.0 (currently release candidate)
April 2014: Haxe 3.1.3
May 2013: Haxe 3.0.0
July 2012: Haxe 2.10

Seems that there's about a 1-year release cycle on Haxe. If we wait until 3.3 does that mean it will take another year before this feature becomes available? That's a bit long in my opinion.

[2015-03-27 20:43] jgranick commented on #193
It has haxelib's same logic

[2015-03-27 20:43] ibilon commented on #193
As someone who had to manually help the `haxelib selfupdate` succeed I'm all for this idea.

I'd even go a little bit further and make `haxelib setup` download the `haxelib_client` library, that way `haxelib upgrade` would also upgrade haxelib itself without the need to activate it with a selfupdate (which at lot of people don't know about).

And for the implementation itself and the way it finds

[2015-03-27 22:40] jgranick commented on #192
No, this is different. This is running `haxelib submit lime.zip`, it's recursively looking inside the zip and finding another haxelib.json deeper in the file structure. I think it should find the first haxelib.json at the top and exit, perhaps?

[2015-03-28 08:24] andyli commented on #192
Then it should be the same as #122, which should be fixed. Can you check?

[2015-03-28 08:54] back2dos commented on #192
It's the same issue. I had left a mistake in the code that finds the topmost JSON (path-wise), which causes errors both for uploading and installing. This should be working with 3.2.0-rc.3. Can you please confirm and close @jgranick ?

[2015-03-28 09:46] back2dos commented on #193
Thanks, I will look into this now. We've still got one week until 3.2.0 final, the way I understood it.

[2015-03-28 09:51] Simn commented on #193
Yes but let's not do this for 3.2.0, this really isn't the kind of change you make between RC and release.

I'm not opposed to making another 3.2.x release in a couple of weeks once we have a bit more data on this than "it works on Joshua's computer".

[2015-03-28 13:21] ncannasse commented on #178
@jasononeil up :)

[2015-03-28 13:25] back2dos commented on #178
It's a matter of recompiling the server. I just don't have my haxe.org access on this machine, but I can take care of it tomorrow evening, if Jason doesn't beat me to it ;)

[2015-03-28 13:25] ncannasse commented on #188
agreed

[2015-03-28 13:59] ncannasse commented on #193
@Simn in general I would agree with you, but it seem many people have had issues updating haxelib, so if we ship the current one with 3.2.0-final and it can't be updated, it means people will be stuck with it until 3.3 (or longer if they don't update to 3.3 immediately). I think we should make sure the update works well, then we can do all the necessary changes post 3.2 and people will be able to

[2015-03-28 14:05] Simn commented on #193
That's why I said I'm not opposed to making another dot release in a couple weeks. I find this change too drastic to just implement it over lunch. It might very well break more than it fixes and then I'm the idiot release manager who let something like this in a stable release.

[2015-03-28 14:19] ncannasse commented on #193
@Simn release is a collective responsibility, don't take it as a personal one because it's not

[2015-03-28 14:36] Simn commented on #193
It's hard not to when I'm the one handling the entirety of it. I didn't really mind having the responsibility, but in combination with not having the power to make final decisions about it it's rather frustrating.

So... you guys do what you think is right. I'll make the 3.2.0 release either way and then we'll see what happens.

[2015-03-28 15:02] ncannasse commented on #193
@Simn what I meant is that while it's your responsibility to take care of the release, don't take it a personal offense when there are broken things that were not because of your choices/actions. I can understand it can be frustrating, let's discuss our release process at WWX

[2015-03-29 21:23] back2dos commented on #178
Ok, new server version is online, with Apache License support.

[2015-03-29 21:23] #178 closed

[2015-03-30 20:57] bjitivo commented on #178
I don't see how change 68f25d9 fixes this issue.  That change does not allow the user to specify Apache as the license, the haxelib program will reject it.  See the LICENSES variable in Data.hx.

[2015-03-30 21:43] back2dos commented on #178
It doesn't. That was a mere flip (the commit should have been referring to 187). This ticket as a duplicate of #155, which was closed by https://github.com/HaxeFoundation/haxelib/commit/5b0951509729d30b7a11a2aa6155408f7e6be360

There also is no LICENCES variable in Data.hx [or elsewhere](https://github.com/HaxeFoundation/haxelib/search?q=licences&type=Code&utf8=%E2%9C%93) since quite a while, so t

[2015-03-30 21:47] bjitivo commented on #178
Yeah, I have an outdated version of haxelib here.  I had hacked it to add Apache to the LICENSES list, and assumed that you'd have to do the same here, but I guess the code has changed like you said and I didn't realize it.  Thanks.

[2015-03-31 14:12] fzzr- commented on #35
Also need to add it to [manual](http://haxe.org/manual/haxelib-json.html).

[2015-04-01 14:21] RudolfVonKrugstein opened #194 "haxelib git"
when doing a

[code]

and it comes across a library, that is installed via git, it tells me:

[code]

But git is in /usr/bin and /usr/bin is in my path.

I am on ubuntu 14.10 64 bit.

[2015-04-02 21:05] fzzr- opened #195 "Path of a removed lib/ver."
Log:
[code]

After `haxelib remove h3d git` a __git__ directory really was deleted. But not removed record about it in the __.dev__ (devPath).

__Anyway__ I try to remove __current version__ but no getting [exception about it impossible (Main.hx#L1125)](https://github.com/HaxeFoundation/haxelib/blob/master/src/tools/haxelib/Main.hx#L1125).

If we can remove the current version and when the library

[2015-04-02 21:43] fzzr- opened #196 "Problem with PWD in OS X"
See log:
[code]

Are really needed `getcwd` for any haxelib's command like `list` or `info` or `version`? It need only for `local` or `dev`.

[2015-04-03 11:30] adireddy opened #198 "Can't submit library"
I am seeing this today when trying to submit a new library.

File #73093867 accepted : 302383 bytes written
Processing file....
Invalid response : 'Error : Cannot serialize [file_open,out.txt]
Called from C:\HaxeToolkit\haxe\std/haxe/Serializer.hx line 515
Called from C:\HaxeToolkit\haxe\std/haxe/Serializer.hx line 534
Called from C:\HaxeToolkit\haxe\std/haxe/remoting/HttpConnection.hx line 105
Ca

[2015-04-03 11:35] back2dos commented on #198
Can you try again, please? It seems I had left some debug code in the build.

On Fri, Apr 3, 2015 at 1:30 PM, Adi <notifications@github.com> wrote:

[2015-04-03 11:37] adireddy commented on #198
Works now :+1:
Thanks.

[2015-04-06 23:26] fzzr- commented on #143
Maybe yes. I like idea about tags.
Also we need a really smart search and web-api.

[2015-04-07 20:19] fzzr- opened #199 "RSS isn't valid (W3C)"
http://validator.w3.org/feed/check.cgi?url=lib.haxe.org

[2015-04-08 10:16] fzzr- commented on #196
I don't know how and when, but I fixed this issue in the https://github.com/HaxeFoundation/haxelib/pull/197 .
Tests will be soon.

Log:
[code]
And my. I change version to "3.2.0-rc.4" only for me.
[code]
- all is OK.

[2015-04-08 23:36] andyli commented on #33
Hey, I would also like to see a faster haxelib download soon.
Right now TravisCI builds a helloworld example in ~7 min, in which > 4 min is spent on `haxelib install hxcpp`. Interestingly, it takes only a few second to `haxelib git hxcpp ...`.

[2015-04-08 23:59] andyli opened #200 "haxelib install build.hxml should look into sub-hxml too"
build.hxml
[code]

build-each.hxml
[code]

Haxelib doesn't install hxColorToolkit when
[code]

[2015-04-09 20:35] jgranick opened #201 "haxelib submit freezes on "Processing file....""
Recently, I have not been able to submit haxelibs (or if I am, I'm lucky for it to work before a very long time out)

This appears to be related to including a "haxedoc.xml", as this occurs for OpenFL and Lime, but not for smaller libraries that don't include a generated doc XML file

[2015-04-10 14:13] back2dos commented on #201
Could you provide a sample archive to reproduce the problem?

[2015-04-11 16:56] jgranick commented on #193
Any updates on this?

We still are getting reports from users who cannot use OpenFL or Lime due to problems from older haxelib releases. Avoiding this scenario in this future (with the easy upgrade), would REALLY help.

Thanks everyone

[2015-04-11 17:26] ibilon commented on #193
A little feedback, I've been using it for the last 15 days,
compiling, listing, installing, removing, setting dev version, getting path...
no issues for me (linux 64, haxe 3.2 rc.2, git haxelib, neko 2).

[2015-04-11 20:05] fzzr- opened #202 "[Bug] remove <version> - removing symlink as dir"
[code]

Here `Headers@` & `Resources@` is a symlinks:
[code]

[2015-04-11 20:24] fzzr- commented on #202
@back2dos : You can assign this issue to me :)

[2015-04-12 09:54] fzzr- commented on #202
Fixed in https://github.com/HaxeFoundation/haxelib/pull/203.

[2015-04-13 08:35] back2dos opened #204 "Decide whether depending on neko is fine."
Given that `haxe --run` has a number of quirks (particularly macros not being supported), and the fact that the nightly builds for linux use neko based binaries, I wonder whether we still need to support it.

@ncannasse @Simn @waneck If there are still reasons to use `--run`, could you please explain?

[2015-04-13 09:20] Simn commented on #204
I still don't know why --run even exists, it seems like a weaker version of --interp in every way.

[2015-04-13 09:37] back2dos commented on #204
The reason is that there is no straight forward way to pass arguments to `--interp`. You can do `haxe --run TheClass <arg1> ... <argN>`, while the same is relatively quirky to achieve with `--interp` (using `-D` or `-c-arg`). Having an `--interp-args` that would just skip all following arguments and make those available through `Sys.args()` (as opposed to giving you the compiler arguments, which c

[2015-04-13 09:43] waneck commented on #204
I think that ideally we shouldn't depend on neko. The nightly builds don't
use --run because of some problems there was with selfupdate on this
context. I think once all these issues are settled, --run should be the
preferred way to use haxelib

[2015-04-13 09:55] Simn commented on #204
Experimenting on the development branch (so we can get a build): https://github.com/HaxeFoundation/haxe/commit/ac89c25c9c1b6c5b3cc383a825e7fcac6542646c

Maybe that's all that's required?

[2015-04-13 09:58] back2dos commented on #204
@waneck I don't get that. Having a precompiled binary is what breaks selfupdate in the first place :D

@Simn That looks like it could do the trick.

[2015-04-13 17:42] waneck commented on #204
@back2dos, I recommend you to try it yourself. I don't remember anymore
what was wrong, but selfupdate did fail when running through --run

[2015-04-13 19:55] ncannasse commented on #204
@Simn looks good

[2015-04-15 07:01] back2dos commented on #202
Fixed by #203

[2015-04-15 07:01] #202 closed

[2015-04-15 09:58] fzzr- commented on #196
1. I partially fixed this issue in the #197;
2. Need tests for OS X and other OSs.

[2015-04-15 13:16] facchione commented on #189
Following @ibilon , on ubuntu 12.04, I was trying to update
    `Haxe Library Manager 3.1.0-rc.4 - (c)2006-2013 Haxe Foundation`
using
   `$ haxelib selfupdate`
and getting
`Error writing file /usr/lib/haxe/haxelib. Please ensure you have write permissions. `

I guess it's having trouble over-writing itself, a running executable, which is why even running as root fails?  Copying my executable to a

[2015-04-18 18:31] jgranick commented on #204
In my experience, `haxe --run` is *significantly* slower than Neko binaries. Slowing down `haxelib path` and other operations will have a negative effect on Haxe-based builds. I feel like `haxe --run` is better as a fallback if a Neko binary is not present.

This is how I handled it in the shim.

Lime tools has a "-nocffi" flag, which it uses for certain operations (such as `lime rebuild`), which

[2015-04-18 18:32] jgranick commented on #201
Try submitting a recent version of Lime or OpenFL, or if I understand the issue, an archive with one of their "haxedoc.xml" files

[2015-04-20 08:42] Simn commented on #193
So... am I supposed to wait for this or not?

[2015-04-20 10:11] back2dos commented on #193
I don't think so.

This is just a proof of concept and I'm quite certain that it unfortunately won't live up to Joshua's enthusiasm. The build merely uses [`nekotools boot`](https://github.com/jgranick/haxelib-shim/blob/master/build.hxml#L7) which produces binaries that still have a dependency to neko (i.e. the required DLLs). Not getting a straight answer on [whether that's ok](https://github.com

[2015-04-20 13:49] ousado commented on #193
- Is the shim only supposed to solve the "issue" of requiring access to privileged directories and if not what else?
  - is a haxelib selfupdate supposed to be able to perform an update for a system-wide haxelib installation without admin rights? If yes, how is it supposed to do that, if not, what's the problem?
  -  How does accepting neko as dependency change the requirement for a shim, re: "acc

[2015-04-20 14:51] jgranick commented on #193
Use of the shim would allow common users to have a current version of haxelib installed.

This would open the door for us to make continued efforts to improve haxelib

[2015-04-23 08:11] back2dos commented on #204
Personally, I lean towards neko, because honestly, without it you can't even do `haxelib run`, ergo you cannot use hxcpp, hxjava or hxcs without neko. Thus to me the neko dependency adversity seems rather academic.

Using neko increases speed as well as homogeneity and side steps a whole range of issues we've had with class path collisions and what not when haxelib is run with `haxe --run` in the

[2015-04-23 11:16] andyli commented on #204
@jgranick Do you have a sample project that builds significantly slower using an interpreted haxelib? The amount of work done by haxelib should be pretty small comparing to the work by a C++ compiler...

[2015-04-23 11:25] back2dos commented on #204
I would think the real difference in speed comes from the parsing and typing, rather than the execution.  If execution is a bottleneck, then because it is I/O-bound. The bigger haxelib gets, the more noticeable I think this will actually become. But then again, I think performance is the least of this project's issues.

[2015-04-23 21:33] ncannasse commented on #204
On my windows box, using haxelib through --run gives me the following results (path haxelib path with dependencies resolution) :
[code]

Running the same command from neko (with JIT) takes around 0.090s

Are these extra 400ms an issue ? I guess it depends. If you are using compiler completion on a small project with no compiler cache, then it will impact your workflow since it will add to the time

[2015-04-24 18:33] waneck commented on #204
Can you elaborate on that? It seems very unlikely that a `cp` would strip the neko bytecode from it. Also I'd prefer we had a single solution for all platforms.

[2015-04-24 18:44] ibilon commented on #204
Never heard a `cp` do that either,
but on some distribution of linux preload is enabled and that strip all neko executables, like haxelib.

[2015-04-27 07:00] underscorediscovery opened #207 "Error chdir crashes"
[code]

Trying to use haxelib on 3.2.0-rc.3 version, is irregularly broken.
It looks related to paths with spaces in them, as the only time I have this issue is when that is the case.

#191 could be related, I have used `haxelib setup` to a custom location.
#197 mentions this, but somehow ends with a PR for HG support, I have no idea how those relate.

This is becoming rather problematic in practi

[2015-04-27 07:07] underscorediscovery commented on #204
Yes.

When you need to call haxelib multiple times (because that is the nature of the tool commands) you will end up in 3 seconds time range before you have enough information to cache. And since the user can change flags any time, those can't be cached too aggressively. I'm not really sure how 400ms _doesn't_ sound like a problem, in what haxelib is for.

That's what @jgranick is getting at and I

[2015-04-27 07:17] underscorediscovery commented on #207
Definitely related to spaces:

[code]

Here's a paste from the above:
[code]

[2015-04-27 13:48] hughsando commented on #204
Yes, 400ms is a big problem, since it is per haxelib used.
I agree that given "haxelib run" depends on neko, there is no extra practical dependency.

[2015-04-29 04:59] jasonstubbs opened #208 "haxelib from 3.2.0 rc2 incorrectly installs promhx"
Running 'haxelib install promhx' seems to only install lib/utest from within the promhx-1,0,19.zip bundle. This only happens on 3.2.0, with 3.1.3 working fine. Reproduced on both Win8 and OSX Yosemite.

$ haxelib.exe --debug install promhx
Downloading promhx-1,0,19.zip...
Download complete : 178077 bytes in 2.2s (77.4KB/s)
Created compat/
Created compat/unit/
Install compat/unit/Test.hx
Install do

[2015-04-29 05:29] jasonstubbs commented on #208
The master branch works correctly. Doing a git bisect led to commit 68f25d97dc991516c02a2665081ba5cc0d2ae23e being the one that fixed it, which was a result of issue #187.

[2015-04-29 05:29] #208 closed

[2015-04-30 16:10] alebianco commented on #105
@back2dos
just for confirmation, the syntax _haxelib install http://host/archive.zip_ would not work in the current implementation, correct?
I think that would be enough to solve the issue

[2015-04-30 16:15] csomakk opened #209 "build instructions missing"
Hi! I'm trying to fork and run this project, but I have no instructions for it. Any getting started or something for haxelib?
Cheers, Gabor

[2015-04-30 16:15] csomakk opened #210 "private repositories"
Hi! We'd like to work with versioned private haxelibs. Any idea how to start on that?
Cheers

[2015-05-01 08:21] ibilon commented on #210
You need to build the haxelib server, then you need to run it on your private server (something like apache + mod_tora) and change the server used by haxelib with the -R option.

[2015-05-02 04:03] underscorediscovery commented on #207
Also crashes : missing dev paths.

`haxelib dev libname ~/some_path/`
`rm -rf ~/some_path/`
`haxelib run libname`
`Error chdir ~/some_path/`

[2015-05-02 06:03] back2dos commented on #207
Can you please open a separate issue for the latter and also make
suggestions as to what the behavior should be in that case?

On Sat, May 2, 2015 at 6:03 AM, Sven Bergström <notifications@github.com>
wrote:

[2015-05-02 12:16] underscorediscovery commented on #207
I'm still trying to figure out exact problems without spamming the list, but sure I can move it to another issue.

[2015-05-08 19:10] c0ffeeartc commented on #187
same as first post, but for version 2,3,3

[2015-05-08 22:10] c0ffeeartc commented on #187
Solved it.
Problem was `haxelib selfupdate` couldn't update as in https://github.com/HaxeFoundation/haxelib/issues/189

    $chmod 777 /usr/bin/haxelib
    $cp /usr/bin/haxelib ~/
    $cd ~
    $./haxelib selfupdate

and lime installed fine.

[2015-05-20 06:07] ibilon opened #211 "Second user in contributors can't submit."
Hi,

I'm trying to submit HaxePunk 2.5.4 but it isn't working for me,

in haxelib.json we have `"contributors": ["heardtheword", "_ibilon"],` and it was pushed to haxelib for the previous version (2.5.3, last in semver order).

But I get `User '_ibilon' is not a developer of project 'HaxePunk'`.

Is there anything else that should have been done or is it a bug?

[2015-05-20 07:29] back2dos commented on #211
That is weird. Just tried it myself and it works.

But apparently in your the database was not updated correctly, because according to the server you are not a contributor of HaxePunk: http://lib.haxe.org/u/_ibilon

Would you be so kind as to have the update be submitted by `heardtheword` to see if that updates you project list correctly?

[2015-05-20 21:46] MattTuttle commented on #211
Submitted. I'm pretty sure we've done this in the past. Can you double check that `_ibilon` is listed as a contributor now?

[2015-05-21 03:58] back2dos commented on #211
Nope. I've checked the code and this is quite a silly bug. Haxelib only considers the project changed if the number of developers changes: https://github.com/HaxeFoundation/haxelib/blob/master/src/tools/haxelib/Repo.hx#L191

Since you are replacing "ibilon" with "_ibilon" the code assumes there are no changes. For now, can you please just resubmit (the same version) with `["heardtheword", "ibilon"

[2015-05-21 04:00] back2dos opened #212 "Cannot replace contributor"
As discovered in #211 replacing contributors is not possible because of this check failing: https://github.com/HaxeFoundation/haxelib/blob/master/src/tools/haxelib/Repo.hx#L191

[2015-05-21 04:00] #211 closed

[2015-05-21 14:00] MattTuttle commented on #211
Done. Thanks for looking into this.

[2015-05-23 08:47] as3boyan opened #213 "Installing lime installs unknown[1.0.0] lib"
`haxelib install lime`

downloaded lime
and said
`current version is 1.0.0` - but downloaded version is 2.2.0
And new lib appeared in `haxelib list` - `unknown[1.0.0]`
When I run my project I got - `lime is not installed`

I tried again to install lime `haxelib install lime`, same got issue (lime is not presented in `haxelib list`)

removing `unknown` lib by `haxelib remove unknown`, then installi

[2015-05-23 09:12] ibilon commented on #213
Probably a duplicate of https://github.com/HaxeFoundation/haxelib/issues/187
though it's weird it worked for you the second time.

[2015-05-27 11:13] Justinfront opened #214 "@:Access fails with subdirectory"
@:Access  fails with subdirectory, works fine if they are in the same directory.

platform: Win7
hxCpp; 3.2.94
haxe: 3.2.0

error message:
Test.hx:18: characters 14-39 : Cannot access private field rainbowPencilColors

directory structure required to reproduce error.

[code]

contents of classes
[code]
[code]

[code]

[2015-05-27 11:18] Justinfront commented on #214
<Simn>	Don't you mean @:access(testFolder2.Test2.rainbowPencilColors)?

Ok that works fine, but I think the import should mean that you don't have to define the full qualified path?

Sorry about that I guess you can close I will try to rem to do this.

[2015-05-27 11:18] #214 closed

[2015-05-30 08:49] csomakk commented on #210
okay, that seemed complicated.. :) In the end we've made it to use our private git repo, and usage as follow:
dev dependency:
    $ haxelib dev [libname] [local folder]/src
release dependency:
    $ haxelib git [libname] [private git url] [branch/tag] src

[2015-05-30 08:49] #210 closed

[2015-06-01 21:57] ibilon opened #215 "haxelib update case sensitivity"
Hi,

if you do `haxelib update HaxePunk` => works, normal.

but `haxelib update haxepunk` => fails
[code]

There's a bug somewhere, should it return `unknown project` or successfully update?

The install and info commands are case insensitive but remove, path, dev and set are case sensitive.

[2015-06-02 14:13] Simn opened #216 "Featured haxelibs"
I have drafted a first document here: https://github.com/HaxeFoundation/haxelib/wiki/Featured-haxelibs

Looking for some feedback!

@jasononeil @larsiusprime @hughsando @deltaluca @waneck @ncannasse @dpeek

[2015-06-02 19:25] back2dos commented on #216
I think this is a bad time to open another can of worms ;)

Instead, I do think that it would be worth while to curate a list of competing libraries. The way that every other open source community does, e.g. [Go](https://github.com/avelino/awesome-go?utm_source=devmag.io), [nodejs](https://github.com/joyent/node/wiki/modules#table-of-contents) (to be fair that's from a time where the eco system wa

[2015-06-02 20:17] deltaluca commented on #216
wrt "not redundant", I think it would be too difficult to keep strictly to this when there is not a clear favourite/"best" module.

[2015-06-03 01:24] larsiusprime commented on #216
I think this in gernal is a good idea and a good implementation of the first spec.

The MAIN issue to watch out for community-wise is the perception (and reality) of getting into the game of "picking winners and losers" in the really subjective areas.

Like picking a "featured bigass game framework" between Lime/OpenFL, NME, Luxe, Kha, etc, probably isn't a good quagmire to wade into.

That said,

[2015-06-03 06:12] hughsando commented on #216
I think you could replace "not redundant" with "focused" (that is, not
monolithic).  So that would rule out these bigass game frameworks. Also,
featured libraries should probably only depend on other featured libraries.
Maybe a separate tag for frameworks - and here you could remove the
redundant clause, so you could simply feature them all, if they meet the
criteria.

I guess I might be confusing

[2015-06-07 17:35] ibilon opened #217 "Futur of haxelib"
Hi,

In the spirit of moving haxelib forward I think what it really needs is a good API,

it would make a very clean separation of logic and cli, and would allow tools to be easily compiled against it instead of running a haxelib process.

I propose this: https://gist.github.com/ibilon/74e5d8ed46cc25b95056 (only a draft ofc, need to see in practice if it works)
there's only the current features of

[2015-06-08 03:34] larsiusprime commented on #217
:+1:

[2015-06-08 12:56] ncannasse commented on #217
FYI haxelib client has been built on a haxe remoting API since the very first version of it, you can have a look at the API here :
https://github.com/HaxeFoundation/haxelib/blob/master/src/tools/haxelib/SiteApi.hx

[2015-06-08 13:40] ibilon commented on #217
Thanks,
I updated my suggestion with it, and move those into Server instead of HaxelibProvider, which makes more sense.

Also most data structure from here https://github.com/HaxeFoundation/haxelib/blob/master/src/tools/haxelib/Data.hx could stay the same, no need to change everything.

[2015-06-09 07:36] ncannasse opened #218 "Haxelib install useless prompts"
I noticed when doing "haxelib install ufront" that I was getting messages such as:

[code]

I guess that's because hscript (and some other dependencies) were required twice by different dependencies path.

Anyway, in that case we should skip the actual install, given it's already up to date.

[2015-06-09 07:59] back2dos commented on #218
Maybe you got that because you have `hscript` on `dev` locally and haxelib
wants to set it to the downloaded version instead?

On Tue, Jun 9, 2015 at 9:36 AM, Nicolas Cannasse <notifications@github.com>
wrote:

[2015-06-09 08:09] ibilon commented on #218
@back2dos even in that case, it'll set the version to the downloaded one but won't deactivate the dev version anyway, so asking a set is not the most useful here.

[2015-06-09 08:24] back2dos commented on #218
Then that's a bug in version setting that if fixed makes this behavior
sensible. That is, if that's why haxelib asked in the first place.

On Tue, Jun 9, 2015 at 10:09 AM, Valentin Lemière <notifications@github.com>
wrote:

[2015-06-09 08:28] ncannasse commented on #218
@back2dos I actually had hscript as dev version, but it also prompted it for other libraries I had never installed. Try with a fresh haxelib repo and install ufront to reproduce

[2015-06-09 08:52] back2dos commented on #218
[code]

Here's the first prompt:

[code]

With `haxelib list` yielding:

[code]

On it goes:

[code]

And:

[code]

And:

[code]

Where you can see in the above output, all those versions need to be set, because some dependencies explicitly installed lower versions.

The way I see it is that the haxelib server should have forbidden uploading conflicting dependency versions in the first place.

[2015-06-09 17:27] ibilon commented on #160
(

[2015-06-09 17:29] ibilon commented on #160
(a couple months after your issue was open, but since it's still open)

@ProG4mr you can do `haxelib set libname git`.

[2015-06-09 17:29] ibilon commented on #161
@ncannasse why is that?

I tried to look into the haxe repository and found genneko.ml but the ocaml prevented me from understanding.

I fail to see why you need haxelib to load ndll.

[2015-06-09 17:30] ibilon commented on #10
Instead of making it a two-step build it'd be easier to add hxssl as a git submodule and bringing it in the classpath.

[2015-06-09 17:34] ibilon commented on #188
Then there's the question of how to present that.

We can't let both stay in the help if they are synonyms, it'd be confusing:
[code]
so which one to choose?

And then what to make of the other? Silently redirect to the chosen one? Fail with an error message saying "nop use the other"? Simply removing it?

Personally I'd choose the "Silently redirect to the chosen one" since otherwise it'd be anno

[2015-06-09 17:36] ibilon commented on #183
Is this only for post-install hook or is there plans for a pre/post-update and pre-remove too?

[2015-06-10 07:56] ncannasse commented on #161
Because in case the NDLLs are not in the local exe directory, it will use the currently installed lib path to load them

[2015-06-10 08:11] ibilon commented on #161
Putting aside this feature, which imo is a hack for developers, since user have neither haxelib nor the library, so the build code should really just copy the ndlls to not make a difference between dev and deploy.

Why not go through haxelib? `-lib` does-it and it'd avoid blocking changes in haxelib.

[2015-06-10 11:38] Marc010 opened #219 "Duplicates"
It's possible to upload the same version of a library multiple times. Haxelib should only display the most recent upload of a specific library version because that's the only version that can be installed anyways. Also the download counter seems to be always 0.

![haxelib duplicates](https://cloud.githubusercontent.com/assets/5739192/8081527/dc17d016-0f75-11e5-947a-f18b426ed430.PNG)

[2015-06-11 19:51] nadako opened #220 "hide the gray banner from the front page"
could we add an option to show/hide the gray banner with haxelib description and help and store that option in a cookie?

[2015-06-11 21:45] fponticelli opened #221 "libraries with a dot in the name cannot be downloaded"
Also the README.md doesn't show up for them probably because of the same issue.

[2015-06-12 07:50] Gama11 opened #222 "Social buttons only work if haxelib.json url points to GitHub"
It makes sense for projects that have an official website to link to that in the `haxelib.json`, like [flixel](http://lib.haxe.org/p/flixel/), [openfl](http://lib.haxe.org/p/openfl/) and [HaxePunk](http://lib.haxe.org/p/HaxePunk/) are doing.

Unfortunately, this leads to the "social" buttons (fork and star) missing:

![](http://i.imgur.com/KKrVF8L.png)

Not sure what the best solution here is (all

[2015-06-12 08:16] ibilon commented on #222
npm has both a `homepage` and `repository` field

And since `url` is shown as "Website" on lib.haxe.org it doesn't make a lot of sense (semantically speaking) to put a github url in it.

[2015-06-17 02:53] explorigin opened #223 "Unclear submit message"
I'm trying to submit my first haxelib.  This is all I get.  I don't see any documentation that helps me understand what to do now.

[code]

[2015-06-17 05:16] ibilon commented on #223
You need to pass to submit a zip file containing your library.

[2015-06-17 10:20] back2dos commented on #223
You can also use a directory, so in your case `haxelib submit .` would do.

[2015-06-17 11:29] explorigin commented on #223
From http://lib.haxe.org/documentation/creating-a-haxelib-package/
"Alternatively you can run haxelib submit without a zip file to have haxelib zip and submit the current directory."

So this could be a bug to fix the website or add a better usage message.

[2015-06-17 11:30] explorigin commented on #223
```haxelib submit .``` did work correctly though.  Thanks.

[2015-06-17 14:01] Simn commented on #223
Speaking of unclear submit errors:

[code]

[2015-06-18 20:10] ncannasse commented on #223
@Simn any idea what's causing this ? I get the same error when trying to submit an update to hscript.

[2015-06-18 20:20] Simn commented on #223
Sadly, no. I tried commenting out some of the Pokemon clauses but couldn't get any more information.

[2015-06-18 22:02] ncannasse commented on #223
I think it comes from the server API since it's the "Processing file..." part

[2015-06-18 22:02] Simn commented on #14
I guess we can close here!

[2015-06-18 22:02] #14 closed

[2015-06-18 22:06] #143 closed

[2015-06-18 22:07] Simn commented on #153
We now have a proper page not found page for this.

[2015-06-18 22:09] Simn commented on #169
This can be considered resolved with the new website.

[2015-06-18 22:09] #169 closed

[2015-06-18 22:13] Simn commented on #213
duplicate

[2015-06-18 22:13] #213 closed

[2015-06-18 22:13] Simn commented on #192
No feedback - assume fixed.

[2015-06-18 22:13] #192 closed

[2015-06-19 02:59] waneck commented on #14
\o/

On Thu, Jun 18, 2015, 19:02 Simon Krajewski <notifications@github.com>
wrote:

[2015-06-19 09:03] fzzr- commented on #194
@RudolfVonKrugstein What is version you using? Please execute `$ haxelib version`.

[2015-06-19 09:44] fzzr- commented on #220
:+1:

[2015-06-19 10:10] fzzr- opened #224 "[site, usability] remove ` target="_blank" ` from links"
Need to remove `target="_blank"` attribute from all links on lib.haxe.org.
That site for developers. Please do not impose on opening links in a new window.

E.g.: in http://lib.haxe.org/p/gm2d link to Github ("Website") have `target="_blank"`.

[2015-06-19 10:10] fzzr- commented on #224
We are not stupid and can decide how we want to open the link.

[2015-06-19 10:30] Simn commented on #224
I agree this is a bit 1998.

[2015-06-19 10:56] bsideup commented on #153
@Simn

[code]

No you don't >_<

[2015-06-19 12:01] RudolfVonKrugstein commented on #194
I did a complete reinstall in the mean time. It all works now. I do not know anymore which version I had installed at that time :-(.

[2015-06-19 12:01] #194 closed

[2015-06-19 20:02] explorigin commented on #223
Here's another fun one:

[code]

build.hxml is
[code]

dapp is a fresh project that does not directly depend on msignal.

blork is a library project that is only installed locally and it depends on msignal.  It builds properly with no errors (with msignal).

Where is haxelib getting 3.5.5 from?

[2015-06-19 21:02] Simn commented on #223
How is that related to haxelib submit?

[2015-06-20 00:45] explorigin commented on #223
oops, you're right, I'll make a separate issue.

[2015-06-21 19:07] ProG4mr commented on #160
Thanks @ibilon i think the ```set``` command is a good alternative to switch development versions of a library instead of using ```dev``` command, seems to be solved.

[2015-06-21 19:07] #160 closed

[2015-06-23 20:40] profelis opened #225 "Incorrect version in submit report"
`haxelib submit` show incorrect version number
[code]

[2015-06-24 18:56] fzzr- opened #226 "[site, readme] html-comments in markdown"
For example [here (http://lib.haxe.org/p/redhawk)](http://lib.haxe.org/p/redhawk) comments aren't ignored and we see ``.
Need to fix md-parser.

[2015-06-24 19:01] Simn commented on #226
@jasononeil @dpeek: Is that a haxe-markdown problem?

[2015-06-24 20:15] fzzr- commented on #226
Also sublists like this:

- foo
  - sub foo
    - sub sub foo
    - sub sub bar

[2015-06-25 03:43] jasononeil commented on #216
Great start @Simn!  My thoughts:

- Add a requirement: *Must be used in at least $x production projects*.

    Or possibly, *Must be used by at least $x separate developers / companies*.  Just to ensure it is useful for more than one person / purpose.

- Add a requirement: *Must have a place for community discussion*.  It could be Github, IRC, Gitter, Trello, Stack Overflow, a forum, whatever.  Bu

[2015-06-25 03:51] jasononeil commented on #169
The new search no longer automatically goes to the library page, but shows a list of projects, which includes a download count.

But it's pretty amateur still... the results are sorted alphabetically, not by popularity or relevance etc.  I'm not sure what the best approach would be.  Luckily any given search doesn't have too many results so it's manageable at the moment.

If anyone has some concre

[2015-06-25 07:12] ibilon commented on #169
A simple method to rank results by relevance is the tf-idf method: https://en.wikipedia.org/wiki/tf-idf

The tf is easy to calculate and if we only stock the denominator of the idf it's easy to update when new versions/libraries are submitted.

Storing the index could be an issue though, no idea how much that'd be, less than the corpus size for sure, which is the descriptions, tags and maybe readm

[2015-06-25 11:33] explorigin commented on #169
Just make the columns sortable.  You'll go a long way without having to introduce a new ranking method.

[2015-06-25 14:41] jcward opened #227 "Please remove hxtelemetry verson 0.0.1"
This was a placeholder version I published before publishing the beta (0.2.0-beta), but unfortunately it's now blocking download of the beta (being non-beta).

I could upload a new (non-beta) version, but I'd prefer to keep 0.2.0 marked as beta.

Thanks!

[2015-06-26 09:30] fzzr- commented on #226
related issue: https://github.com/HaxeFoundation/haxelib/issues/162

[2015-06-26 16:36] explorigin commented on #153
Still getting this: http://lib.haxe.org/p/classmap/1.0.0/files/classmap/

[2015-07-03 19:49] Gama11 opened #228 "Incorrect sorting with double-digit patch number"
See http://lib.haxe.org/p/flixel/versions/ - `3.3.10` should be at the bottom of the page after `3.3.9`.

[2015-07-06 15:26] elsassph opened #229 "SVG logo problem on IE"
SVG logo is mis-scaled, because IE: it's not the size to the img tag but the original, larger, SVG size.
https://css-tricks.com/scale-svg/

[2015-07-07 09:44] back2dos opened #230 "Allow object constraints on @:generic to work with abstracts"
It would be nice for [this](http://try.haxe.org/#62001) to work:

[code]

Currently it doesn't, because abstracts and objects don't unify. But since the function is generic and `T` is known at compile time, could we not make an exception?

[2015-07-07 10:00] ibilon commented on #230
Wrong repository?

[2015-07-07 10:01] back2dos commented on #230
Why am I standing in the bathroom with a frying pan in my hand? :D

[2015-07-07 10:01] #230 closed

[2015-07-07 10:05] nadako commented on #230
Haha, that comment made my morning :-)

[2015-07-08 14:42] dpeek opened #231 "Stable release at some point?"
[code]

I love hiding behind a "beta" logo as much as the next internet two point oh-er but maybe the time has come for a non-rc release? I was going to joke that it had been 792 days since our last stable release, but it turns out there aren't any in the new Haxelib repo.

[2015-07-08 15:03] ibilon commented on #217
https://github.com/openfl/hxpm/tree/haxelib/

It's a prototype of the API I linked in my first message, it has a cli completely decoupled from the logic code, it's multilingual and can easily be linked against/used by a third party tool.

It's not finished though, it's lacking the extraction of the downloaded zip, the code for upgrade and the submit, hg and git commands.

But it should be enough t

[2015-07-11 09:54] RobDangerous opened #232 "Fancy version strings cause trouble"
Uploaded two libs yesterday with a version string of "15.07.00" (kha and kha2d). Those are not working (downloading with haxelib gets you a small, corrupted zip, listing files gives a 404). Uploaded "15.7.1" versions a little later, those work fine.

[2015-07-14 19:49] yar3333 opened #233 ""haxelib run" and special chars in arguments"
This example run "run.n" which just print specified command-line arguments on separate lines:
[code]
As you can see `haxelib run` and `neko run.n` works differently: `neko run.n` produce correct output (two arguments), while `haxelib run` do it wrong (concat all arguments into single long argument).

Test to run: http://haqteam.com/CmdBug.zip
(Just run "make.cmd" to see the bug.)

[2015-07-15 05:03] andyli commented on #233
Probably because of #3603 and #3402

[2015-07-15 14:25] fzzr- opened #234 "[feature request] new field `sdk`/`compiler` for determine compatibility"
I mean what will be great if in the each lib `haxelib.json` contains field about compatible & tested version of Haxe compiler+std.

[2015-07-21 15:58] underscorediscovery commented on #223
maybe @back2dos or @ibilon have ideas?

[2015-07-21 16:11] underscorediscovery commented on #216
Encouraging good quality work and rewarding it with placement can be a good thing.

However, given the past behaviour regarding community efforts, and the above discussions around "relevance", I am put off by the idea of someone specifically deciding whether or not to support a community project based on their bias. It could do more harm than good.

In my opinion, you could support the efforts of

[2015-07-22 10:04] ibilon commented on #223
Found the error, it's this line: https://github.com/HaxeFoundation/haxelib/blob/master/src/tools/haxelib/Repo.hx#L148
The problem is that `info.tags` is null, adding `infos.tags = [];` just before allows the file to be submitted (tested with hxparse).

[2015-07-22 11:56] ncannasse commented on #223
Data.readInfos should not return null when there are no tags @back2dos could you fix and make a new release ?

[2015-07-23 06:53] wighawag opened #235 "-notimeout has no effect after message : "Sending data...""
without -notimeout:
[code]

with -notimeour
[code]

[2015-07-23 07:28] ibilon commented on #235
The timeout parameter is ignored for the next step (processing) https://github.com/HaxeFoundation/haxelib/blob/master/src/tools/haxelib/Main.hx#L654 but normally not for this one.

Maybe the error message is too broad https://github.com/HaxeFoundation/haxelib/blob/master/src/tools/haxelib/Main.hx#L482 and the error is not timeout related? (just guessing here)

[2015-07-25 11:20] #223 closed

[2015-07-25 11:23] back2dos commented on #223
@ncannasse In the future, could you please assign issues to me? It helps me keep track. Thanks.

[2015-07-29 11:15] anissen commented on #224
:+1:

This issue continues to annoy me. I like being able to determine whether _I_ want to open a given link in a new tab or not.

[2015-08-13 06:07] tbrosman opened #236 "Haxelib versions listed on site are out of order"
This is (sortof) related to https://github.com/HaxeFoundation/haxelib/issues/83. The versions listed on the site are in lexical order and not version/date order. This causes some interesting user behavior (although I guess it's possible version 0.8.0 worked better for some people than versions 0.10.0+, in which case please open a bug!):

![all versions of hxmath](https://cloud.githubusercontent.co

[2015-08-18 07:28] jv-PintoBobcat opened #237 "Request to remove library on lib.haxe.org"
I submitted a library called ajax in error.  Can you please delete it?

http://lib.haxe.org/p/ajax/

[2015-08-18 12:04] clemos opened #238 "support for git dependencies"
It doesn't seem possible to have git dependencies currently :
[code]
The above seems to fail. Or maybe there is another syntax ?
If not, then I think it would be nice to support git dependencies, pretty much like `npm` does.

[2015-08-18 12:36] nadako commented on #238
note that it would be great to also be able to specify commit number/branch/tag (like npm does I think)

[2015-08-18 12:40] clemos commented on #238
Yes, it's like `npm install git+ssh://git@github.com:npm/npm.git#v1.0.27`
see https://docs.npmjs.com/cli/install

[2015-08-18 19:39] jv-PintoBobcat commented on #238
+1 for this

[2015-08-20 03:04] jv-PintoBobcat commented on #237
Any movement on this?  I sent an email to contact@haxe.org about this issue as well and I haven't received a reply.

[2015-08-21 00:53] jasononeil commented on #237
Hi there.  I've got access to the database so I've gone ahead and deleted this.  Sorry for the delay.

We really need to set up a way to delete your own projects... I'll try look into it soon.

[2015-08-21 00:53] #237 closed

[2015-08-21 04:51] jv-PintoBobcat commented on #237
Thank you!

[2015-08-21 13:42] mathieuanthoine opened #239 "Forgot password"
It could be great to have the possibility of changing the password when we forgot it.

Thanks

[2015-08-23 21:28] pqyptixa commented on #10
Please, also add support for downloading packages through HTTPS as well. Anyone can see and modify packages on the fly.

[2015-08-23 21:38] pqyptixa opened #240 "[feature request] haxelib: allow store and resume partial downloads"
Please add support to haxelib for storing partial downloads and resuming the downloading process. Not everyone has a fast and stable internet connection all the time.
Thanks for your work.

[2015-08-23 21:49] pqyptixa opened #241 "[feature request] haxelib: automatic retries when downloading/updating packages fails"
Please allow a number of automatic retries when downloading or updating a package fails. The idea is to retry a connection when the internet connection is temporarily too unstable.

[2015-08-24 07:15] ncannasse commented on #240
You can directly download the packages from http://lib.haxe.org, your browser should support resuming.

[2015-08-24 07:15] #240 closed

[2015-08-24 07:16] ncannasse commented on #241
Same as #240

[2015-08-24 07:16] #241 closed

[2015-08-24 15:53] jasonsturges opened #242 "haxelib setup changed default location to /usr/lib/haxelib"
Was it intended for haxelib to change the default location, as in upon executing:

    $ haxelib setup
    Please enter haxelib repository path with write access
    Hit enter for default (/usr/lib/haxelib)

In 3.1, this location was: `/usr/lib/haxe/lib`

In 3.2, this location is now: `/usr/lib/haxelib`

Moving forward, should `/usr/lib/haxelib` be used as the convention?

[2015-08-25 10:45] ibilon commented on #240
I had the experience to have to manually download a ruby package and all its recursive dependencies once and it was a huge chore.

It's not something a user should have to do just because of his internet connection.
(and aren't downloads still slow outside of Europe?)

@ncannasse Could you reconsider this issue?

[2015-09-03 19:57] ncannasse opened #243 "haxelib post submit version"
After submitting the "format 3.2.0" library, I got the following message:
[code]
The `alpha` should not be there (most likely a default value that is not reset)

[2015-09-05 07:59] triplefox opened #244 "haxelib allows upgrade to succeed with insufficient disk space"
Observed: ran "haxelib upgrade lime". lime-2,6,1.zip was downloaded. In the midst of unpacking and copying the files haxelib aborted with a generic syscall exception. FlashDevelop noticed that the disk had run out of space by this point. I freed up space, however, the new lime was partially installed now and haxelib would not let me fix it through its UI. I resorted to deleting the directory manua

[2015-09-06 15:55] TBaudon commented on #239
Yep,
I forgot my password as well, must have made a typo twice when initializing account >.>

Could someone please reset my password ? I'm http://lib.haxe.org/u/TBaudon/ .
Thanks!

[2015-09-06 18:55] ibilon commented on #244
Not just for that error.
Once the installation start if there is any error the installation isn't canceled.

[2015-09-10 06:10] raould opened #245 "sort versions properly"
e.g.
[code]
should preferably display as
[code]

[2015-09-10 09:35] chichilatte commented on #207
Yep, i had this problem. I removed the space in a folder name and that fixed it. Thanks @underscorediscovery! (this was on OSX 10.7, haxelib 3.2.0-rc.3)

[2015-09-23 21:34] andywhite37 opened #246 "--always and --never options are not propagated to dependency install commands"
It appears that if you use `--always` and `--never` flags to control the `[y|n|a]` prompts, these options are not propagated to dependency installs in certain situations.

Briefly looking at the code, it seems like it could be related to the `Vcs`-related class(es) creating new instances of `Cli`, which have `defaultAnswer` set to null by default, or the initialization order of the main `Cli` inst

[2015-09-28 19:55] R3D4C73D opened #248 "Request to remove emitter lib on lib.haxe.org"
I'd like my library "emitter" removed as soon as possible.  Thank you.

http://lib.haxe.org/p/emitter/

[2015-09-29 05:45] back2dos commented on #248
Could you please explain why?

We do remove libraries that were published by mistake, but this seems like
it is published on purpose and may be in use by other Haxers.

On Mon, Sep 28, 2015 at 9:55 PM, jv-PintoBobcat <notifications@github.com>
wrote:

[2015-09-29 16:10] jv-PintoBobcat commented on #248
I don't want to have to maintain it anymore.  And I doubt anyone is going to miss it with the grand total of downloads being zero.

[2015-09-29 16:19] ibilon commented on #248
The download counter is broken. And it being only doesn't require you to maintain it ;)

[2015-09-29 16:21] jv-PintoBobcat commented on #248
Fair enough.  The code repo is now private, but the packaged version can remain, I guess.

[2015-09-29 17:22] jv-PintoBobcat commented on #248
Actually, I just want it off of there because I don't want it associated with the xod3 account any more.  I have abandoned both the account on haxelib and the account on bitbucket.  Is there a way I can get it associated with my github account or something?

[2015-09-29 17:41] jv-PintoBobcat commented on #248
Or can it just please be removed?  I'm afraid I have to insist.

[2015-09-29 17:48] Simn commented on #248
Let's remove it in this case.

I'm curious though if the author insisting on removal has any bearing in the general case.

[2015-09-30 14:51] yar3333 opened #249 "compiler -lib: ignore .dev if library version specified"
I think, if a library version specified then dev library version must not be used:
[code]
So, file `.dev` must be ignored by compiler in this case.

[2015-10-01 16:25] jv-PintoBobcat commented on #248
Any movement on this?

[2015-10-07 17:46] jv-PintoBobcat commented on #248
Any movement on this?

[2015-10-14 07:40] leshido opened #250 "[MacOS X El Capitan] haxelib setup default location is unwritable"
Running `haxelib setup` suggests to install on default location `usr/lib/haxelib` which is, as of Mac OS X El Capitan, unwritable due to the new "Rootless" feature.

It should probably point to install on the writable location `usr/local/lib/haxelib`.

[2015-10-14 07:44] leshido commented on #242
Please note that the default location is unwritable on latest Mac OS X El Capitan. Posted an issue on #250 . Default location should probably be `usr/local/lib/haxelib`.

[2015-10-14 08:39] andyli commented on #250
BTW, I would suggest changing the default haxelib repo location for all OS to `~/haxelib`.
It is annoying in Linux that running `haxelib install` requires the use of `sudo`...
But we have to think about `haxelib upgrade`, which will tie haxelib to the local repo... I mean haxelib is installed system-wise, so it should not use a user directory (`~/haxelib`).

Any comment, @back2dos, @ncannasse ?

[2015-10-14 10:35] jangdan commented on #250
This isn't important, but this issue was also mentioned here:
https://github.com/HaxeFoundation/haxe/issues/4585

[2015-10-14 15:37] lewislepton commented on #250
@andyli so just to ask - on doing say `haxelib setup` have instead of `/usr/lib/whatever` - have this instead `~/haxelib`

i just want to make sure before going ahead with installing haxe. since the 3.2.1 install on `/usr/local/lib/whatever`

cheers

[2015-10-14 15:43] waneck commented on #250
I'd also prefer to have a local haxelib by default as well. It's more secure also.

[2015-10-14 15:45] lewislepton commented on #250
just annoying apple do this with each OS they bring out. taking away the ability to do things. annoying to say the least - bring back snow leopard ;)

[2015-10-14 15:49] lewislepton commented on #250
i guess i dont fell comfortable installing on `usr/local/etc`

but if its fine or better doing it in `~/haxelib` - then ill do that then. but dont know if it is until someone says ;)

[2015-10-14 15:50] ibilon commented on #250
The necessity to use sudo to install to `/usr/lib` isn't annoying, it's normal. Most likely you only think that way because you're the only user on your computer, but in that case there's no reason to use that location.

The discussion of having the default location of haxelib in `~/haxelib/` hides another problem: the fact that haxelib can't make a difference between local and global install.

[2015-10-14 15:58] lewislepton commented on #250
@ibilon so is it ok to do the install on `~/haxelib`? i just want to make total sure because i have a fresh computer waiting ;)

also would i just use 3.2 or 3.2.1 of the haxe installer?

thanks ;)

[2015-10-14 16:10] ibilon commented on #250
@lewislepton sure, I've been using such a path for a while without problem
If you use the 3.2 installer you'll get haxe 3.2, if you use the 3.2.1 you'll get haxe 3.2.1,
since it's better to use the latest patch you should use the 3.2.1 installer.

[2015-10-14 16:12] lewislepton commented on #250
@ibilon cool spot. cheers. in the end it does make sense. though a shame the word has to go out because more likely people have been comfortable with what it was using before

cheers ill get on and install fresh to `~/haxelib` ;)

[2015-10-14 16:47] lewislepton commented on #250
i guess the difference in using `~/haxelib` is that it shows in the directory, as in its not hidden. or at least i have that myself
would be nice if it was hidden in some way

[2015-10-17 09:29] jakwings commented on #161
It is a bad file name. Why not change the name from `.haxelib` to `.haxe.conf` or the like? It just wasted my time.

[2015-10-17 11:43] jakwings commented on #240
@ncannasse Hi, it is strange that the browser cannot show the file size and estimated time for download. Do you have such issue? I use Firefox, Safari, Chrome. Your server IP is 5.39.76.185.

[2015-11-03 23:30] KeyMaster- commented on #207
Just also bumped into this problem. My way of fixing it was to put double quotes around the working directory that is passed to haxelib in the `haxelib` executable script, like so:
`exec haxe -D haxelib_client=3.2.0-rc.3 --run tools.haxelib.Main -cwd "$OLDCWD" $@` (instead of simply `-cwd $OLDCWD`)

[2015-11-16 21:20] dionjwa opened #252 "Haxlib install <build.hxml> does not search child hxml files"
I have a build.hxml that refers to other hxml files. The other hxml files contain haxelibs that are not installed by the above command.

This means for automated builds, I have to manually specify haxelibs, which is laborious and error prone.

[2015-11-17 09:54] andyli commented on #252
same as #200

[2015-11-17 09:54] #252 closed

[2015-11-18 01:05] nadako opened #253 "is the install counter on lib.haxe.org working?"
Subj. Because e.g. for hxnodejs it shows 0 installs, though I downloaded it myself at least once.

[2015-11-19 10:29] fzzr- commented on #200
:+1:

[2015-11-19 10:32] fzzr- commented on #224
plz! :warning:

[2015-11-19 10:50] fzzr- opened #254 "[site] Readme.md formatting: table"
Incorrect table formatting on lib.haxe.org. [Example: lib.haxe.org/p/hxnodejs](http://lib.haxe.org/p/hxnodejs/4.0.0/).

On the Haxelib:
![now terrible](https://cloud.githubusercontent.com/assets/888526/11268613/b9677d42-8ec2-11e5-8178-a20537727350.png)

On the Github:
![original](https://cloud.githubusercontent.com/assets/888526/11268628/c6fa0b64-8ec2-11e5-8253-a7efef129f76.png)

related issue: #2

[2015-11-19 13:10] ncannasse commented on #224
FYI haxelib does not have a maintainer atm, @andyli will start working on various issues as soon as he's done with handling haxe packages for Linux.

[2015-11-19 13:12] fzzr- commented on #224
Okay, excuse me.

[2015-11-19 13:14] fzzr- commented on #224
Okay, excuse me. Can I help? I have a free one day per week.

[2015-11-23 11:02] nadako opened #255 "possible security issue: html not escaped/filtered in haxelib release notes"
Just look at current "recently updated" list:
![](http://take.ms/GLKgO)
There's an `<input type="file">` in release notes that is not escaped and rendered as is.

[2015-11-23 11:05] Simn commented on #255
@jasononeil: This should be addressed.

[2015-11-25 11:06] jasononeil commented on #255
I've just fixed most of the possible problems.  It was using the erazor template library, which has `Template` and `HtmlTemplate`, which does automatic escaping.  It's my mistake for picking the wrong one :/

There remains a vulnerability with the READMEs, I'm looking into it now...

[2015-11-25 13:46] jasononeil commented on #255
I've added a ContentSecurityPolicy header to the haxelib site.  So you can still use HTML in your readme, and embed your travis images or tables or whatever, but it should prevent you from running custom JS or otherwise being malicious.

Everywhere else should now use escaped HTML.

Please let me know if any further security holes are found, or if the changes I've made have broken any project page

[2015-11-25 13:46] #255 closed

[2015-11-26 00:24] jasononeil commented on #254
Yep, this is a Haxe-markdown problem.  The workaround is to put a space in the dividing line:

So this works:

[code]

but this is broken:

[code]

Thanks for creating the issue over on the other repo, I'll close this one now.

[2015-11-26 00:24] #254 closed

[2015-11-26 00:29] jasononeil commented on #162
I don't think we can expect people to keep their change log in a certain format.  Now that you can view "CHANGES.md" from the website it's not that much work for you to find it :)

[2015-11-26 00:29] #162 closed

[2015-11-26 00:33] jasononeil commented on #226
I can confirm this is a markdown problem.

I've created an issue over there: https://github.com/dpeek/haxe-markdown/issues/23

Should be a one line pull request fix if anyone wants to give it a go!

[2015-11-26 00:33] #226 closed

[2015-11-26 00:40] jasononeil commented on #224
I've fixed this issue.  I've always preferred links to external sites to open in new tabs but I guess I am in the minority on this one.

@fzzr- I'll send you an email - I'm sure help would be appreciated but the Haxelib project is pretty overwhelming.

[2015-11-26 12:16] nadako commented on #245
Latest haxelib version used in haxe/development seems to sort properly:

[code]

[2015-11-27 21:13] Gama11 commented on #245
Somehwat related: #228

[2015-11-29 23:16] nadako commented on #254
May I suggest simply using [pandoc](pandoc.org) to do the markdown->html conversion? It's a nice single-file utility written in Haskell that supports many file formats, including GFM and full CommonMark ("proper" markdown spec with tables, code fences and so on), and it's really easy to use:

[code]
outputs:
[code]

[2015-11-30 07:48] fzzr- commented on #254
:+1: , especially because currently used Haxe-markdown is not fully stable & suitable for serious production as a dependency. [:(](https://github.com/dpeek/haxe-markdown/issues)

[2015-11-30 08:49] ralcr commented on #250
This  is still not fixed, i think is not good to have it in the installer like that.

[2015-12-08 19:29] nadako commented on #243
I'm only getting to know haxelib code base, but I think this is caused by 6d41c431e4d3056d4a8269c4aedc46acb408cafe - the `@:nullable` metadata is not supported by standard Haxe `RecordMacros`, so it thinks that it's not nullable and probably is converted to 0 and thus first constructor of the `Preview` enum. I guess that RecordMacros now supports `SNull<SEnum<...>>`, so I fixed it in 4548df2d60154

[2015-12-08 19:32] nadako commented on #243
This is probably related: https://github.com/HaxeFoundation/haxe/commit/784efa790c11d17d604955b5221c530ced2a8804

[2015-12-08 23:32] #243 closed

[2015-12-08 23:50] nadako opened #257 "legacyhaxelib.Site is not compiling"
Subj. It says `Type not found : tools.haxedoc.HtmlPrinter`. I believe haxedoc was removed at some point, so maybe it's time to remove legacyhaxelib as well?

[2015-12-09 00:02] nadako commented on #59
Is this really true? I started to look at this issue, and my local sqlite-based repo allowed to register both `nadako` and `Nadako`, what am I missing?

[2015-12-09 00:28] nadako commented on #59
Oh, it's probably different for MySQL. Anyway that raises the question about how to do case insensitive queries with SPOD. I came up with:
[code]
But this doesn't look good. Maybe we could add a `.toLowerCase` support in RecordMacros that generates `lower(field)` cc @ncannasse

[2015-12-09 01:24] #78 closed

[2015-12-09 01:31] nadako commented on #228
This is a duplicate of #236

[2015-12-09 01:31] #228 closed

[2015-12-09 01:32] nadako commented on #245
I'll look at the code whether it's fixed or not, but anyway this is a duplicate of #83

[2015-12-09 01:32] #245 closed

[2015-12-09 01:52] #83 closed

[2015-12-09 01:56] nadako commented on #83
I went ahead and added version sorting using current `SemVer.compare`

[2015-12-09 02:05] nadako commented on #153
Seems to be correct now:
[code]

[2015-12-09 02:05] #153 closed

[2015-12-09 02:33] nadako commented on #188
I added support `haxelib upgrade <libname>` that simply redirects to the update function, however I think that `update`/`upgrade` should indeed become synonyms, similar to NPM:
* `haxelib update/upgrade` - updates all installed libs
* `haxelib update/upgrade <libname>` - updates `libname`
If noone objects soon, I'll implement that :)

[2015-12-09 02:34] nadako commented on #188
Oh, nevermind, @jgranick suggested exactly that and @ncannasse agreed, so I'm reworking it :-)

[2015-12-09 02:45] #188 closed

[2015-12-09 02:52] nadako commented on #199
Link to the current feed validation: http://validator.w3.org/feed/check.cgi?url=lib.haxe.org/rss
It is valid, but there are still a couple of recommendations that might be worth noting cc @jasononeil

[2015-12-09 03:04] #200 closed

[2015-12-09 03:19] #215 closed

[2015-12-09 10:28] back2dos commented on #257
The whole point of this was to support Haxe 2 + legacy haxelib clients and so long as it works (to my knowledge we didn't have to touch it once since we deployed it two and a half years ago) I see no particular reason to remove the legacy support in and on itself. Dealing with ancient legacy code is bad enough, so if we can make those poor souls suffer a bit less with virtually no effort, I think

[2015-12-09 10:50] fzzr- commented on #224
@jasononeil :+1: Thank you. I wrote email to you.

[2015-12-09 10:57] nadako commented on #257
+1 on moving this to a separate repo and making sure it compiled and works with haxe 2.x there. I'll look into it.

[2015-12-09 10:59] fzzr- commented on #257
( [tool here](https://code.google.com/p/haxe/source/browse/trunk/std/tools/haxedoc/) )

[2015-12-09 11:02] nadako commented on #257
Oh, I see, so it was part of Haxe std, not Haxelib, thanks!

[2015-12-09 12:54] nadako opened #259 "Use APPDATA path for haxelib config on Windows"
As discussed in #94

[2015-12-09 13:20] nadako commented on #139
So, are we changing `dependencies` type to array after all?

[2015-12-09 14:52] nadako commented on #238
As mentioned in https://github.com/HaxeFoundation/haxelib/pull/135#issuecomment-163228477, I think we should adopt NPM dependency format, see https://docs.npmjs.com/files/package.json#dependencies.

[2015-12-09 16:35] nadako commented on #236
I'll reopen this since the bug is still there until we deploy a new website version.

[2015-12-09 16:40] nadako commented on #236
@back2dos @jasononeil what is the process of updating haxelib website? it would be nice to have this fix deployed!

[2015-12-09 16:51] nadako commented on #232
I think that comes from inconsistent version number handling. The library is uploaded as `15.7.0`, but the corresponding file is still named as `15,07,00`. I believe that SemVer requires version numbers not to have leading zeroes, so since we're using SemVer, we should validate and forbid these "fancy version strings". Hope that's okay with you :)

[2015-12-09 17:15] #232 closed

[2015-12-09 17:53] Simn commented on #204
It looks like there's a consensus here, so I'll go ahead and close this issue. Personally I would prefer some separation between haxe, haxelib and neko, but I don't think we'll be able to lose neko anytime soon.

[2015-12-09 17:53] #204 closed

[2015-12-09 17:56] Simn commented on #209
There's some information here: https://github.com/HaxeFoundation/haxelib#about-this-repo

[2015-12-09 17:56] #209 closed

[2015-12-09 17:58] nadako commented on #219
I see duplicate openfl versions on lib.haxe.org, but I can't reproduce that locally. Was it fixed by any chance?

[2015-12-09 18:08] #246 closed

[2015-12-09 18:10] back2dos commented on #139
I had done that, but reverted it after Nicolas told me to.

A simple fix for the issue at hand is to sort dependencies alphabetically
before this loop:
https://github.com/HaxeFoundation/haxelib/blob/f808c594b531b85ac5e3d80ca9f7c25257a5774a/src/tools/haxelib/Main.hx#L1380

On Wed, Dec 9, 2015 at 2:20 PM, Dan Korostelev <notifications@github.com>
wrote:

[2015-12-09 18:11] Simn commented on #219
I recently "force-pushed" hxparse twice and it only shows one version: http://lib.haxe.org/p/hxparse/versions/

Looks like this has been addressed indeed.

[2015-12-09 18:11] #219 closed

[2015-12-09 18:28] RobDangerous commented on #232
As long as we get an actual error message it's all ok for me.

[2015-12-09 18:31] nadako opened #260 "Website tests not compiling"
I fixed some of the problems with 14551656140e7760c07cfc8e7be647a6652d5680, but it still doesn't compile:

haxe newsite.hxml
[code]

Also, what are submodules here? I probably shouldn't have adapted to newer ufront-mvc (`TFromEngine`) and use the version from submodules instead, but I don't really know how. Anyway, I guess several ufront releases are out since then, so maybe we should remove submo

[2015-12-09 19:07] ibilon commented on #100
Maybe a reference to this https://github.com/HaxeFoundation/haxelib/blob/master/src/tools/haxelib/Main.hx#L980-L994
The fact that HAXEPATH is used as a default value if HAXELIB_PATH isn't set and there's no .haxelib in the user's home directory but only on windows.

[2015-12-09 19:15] ncannasse commented on #59
RTFM :) http://dev.mysql.com/doc/refman/5.7/en/case-sensitivity.html
MySQL uses case insensitive matching by default, which I think is good for user names (every website you login is case insensitive I suppose)

[2015-12-09 19:25] ncannasse commented on #238
I'm fine with following anything that is quite standardized as NPM seems to be, as long as we keep backward compatibility with our previous format, so users can continue downloading and submitting libraries using the old format.

[2015-12-09 20:51] fbricker opened #261 "Extension Removal"
Hi, we've been renaming some extensions and I'll like to remove the old named extensions from haxelib.

The extensions I need to remove are:
* openfl-admob
* openfl-gps-lib
* openfl-share
* openfl-gpg
* openfl-locale
* openfl-webview
* openfl-nativedialog

The new extensions (in case you can forward extensions names) are:

* extension-admob (replaces openfl-admob)
* extension-googleplayservices-li

[2015-12-09 20:55] Simn commented on #261
Why go for a general name like this for something that's OpenFL-specific?

[2015-12-09 23:41] #249 closed

[2015-12-09 23:55] nadako commented on #261
+1

[2015-12-09 23:55] fbricker commented on #261
OpenFL community decided to name extensions this way.
Anyway, those are not openfl-specific (they also works with NME and may work with other engines using HXCPP / supporting JNI with little changes).

[2015-12-10 00:06] nadako commented on #234
This sounds useful indeed! Also consider npm implementation: https://docs.npmjs.com/files/package.json#engines

[2015-12-10 00:18] nadako commented on #225
duplicate of #243

[2015-12-10 00:18] #225 closed

[2015-12-10 00:24] nadako commented on #242
This actually looks like a bug introduced in 11d4b7b98b1a3b611728d5ce32c636abe62546ed (note the missing slash). Am I right, @waneck?

[2015-12-10 00:31] #242 closed

[2015-12-10 00:32] nadako commented on #250
What about `/usr/lib/haxe/lib`? It was used before, but then was accidentally changed to `/usr/lib/haxelib` (see #242).

[2015-12-10 00:34] waneck commented on #242
Oops. Indeed it was.
But anyway on the mac we need to default for `/usr/local/lib/haxe` because `/usr/lib` is not writable there anymore

[2015-12-10 00:46] nadako commented on #242
So #258 is good to merge (after fixing slashes of course)?

[2015-12-10 00:49] waneck commented on #242
Yes

[2015-12-10 00:50] nadako commented on #217
This looks like a great start! I'm thinking about finally refactoring haxelib (clean up the mess, separate haxelib functions from the ui, etc) and looks like you've already done a huge part. I'll look deeply in your code and comment further.

[2015-12-10 00:52] nadako commented on #242
Thanks!

[2015-12-10 00:55] #250 closed

[2015-12-10 08:36] fzzr- commented on #234
I like impl. in the NPM. Couple of things:

For implement this feature we need to fully support [semver](http://semver.org). As i know [now it is not](https://github.com/HaxeFoundation/haxelib/blob/b01149a03d383131c7d16e894dfd6aea544b6564/www/documentation-files/creating-a-haxelib-package.md#L42) (really?).

- - -

In the NPM impl. note:

I think we do not have to create new define as there `engin

[2015-12-10 10:02] fzzr- commented on #238
1. In this case haxelib.json must be exists in root of repo;
2. What about another (potential) supported systems such as Mercurial or Subversion? Are we have to detect what use by url :) ? No.

[2015-12-10 10:21] nadako commented on #234
Correct me if I'm wrong, but I think NPM only supports hard-coded stuff like "node" and "npm", so it's not as pluggable as it seems. Maybe we should keep it simple only support "haxe/sdk/compiler/whatever".

I think it should be only advisory and the only thing it should do is emit a warning on installation (IIRC that's also how NPM works).

You're right about semver comparisons, we should first i

[2015-12-10 11:14] fzzr- commented on #234
Then maybe first variant ("sdk" or "haxe" or "compiler": `{ "sdk" : ">=3.0.0 <3.3" }`) and then we can use already existing `dependencies` part like that:

[code]

Not sure because found `{ "engines" : { "iojs" : "1.6.1" } }` in [that post](http://www.marcusoft.net/2015/03/packagejson-and-engines-and-enginestrict.html) and never used this feature.

[2015-12-10 11:50] fzzr- opened #262 "[Discussion] List used defines in haxelib.json (optional)"
I propose to discuss the possibility of introducing a new optional field `"defines"` into the `haxelib.json`.
Only as information for men, tools, utilities, IDEs, etc..

I mean list of __used build-in defines__ and __custom defines__ like `-D foo` (all in one list).

e.g.:
[code]

### For what?

1. It may help to standardize documentation of definitions;
2. Can impl./arrange autocompletion of defi

[2015-12-10 11:55] ibilon commented on #262
A standardized layout to have these sure, but why in haxelib.json, haxelib doesn't use this.

[2015-12-10 11:57] ibilon commented on #234
`dependencies` has the meaning of "add this lib to the compilation"
so unless haxe becomes a haxelib package (which would be cool) it's weird here.

[2015-12-10 12:06] nadako commented on #234
agreed

[2015-12-10 13:04] fzzr- commented on #262
Okay, maybe another one parsable file in root of library. Anyway I propose to discuss and declare a format and in the future to describe it as a standard for Haxlibs packages.

[2015-12-10 13:23] nadako commented on #262
I think the "haxelib doesn't use this" argument is not very valid, since e.g. it also doesn't use `releasenote`. It's used by the repository server to add it to the db, so the website could display it, but we're talking about the haxelib tool.

The point is, it's a useful information about the library that can be parsed by ides and doc generators, so I think it'll fit well in `haxelib.json`. Actua

[2015-12-10 13:43] fzzr- commented on #234
:) If Haxe becomes a haxelib package we will real true virtual environment like one for Python. That will be cool.

[2015-12-10 13:59] nadako commented on #234
I don't see how this (haxe as lib) could be easily done and tbh don't want to think about it at least for the forseeable future. The original "compiler" field idea is still worthy IMO.

[2015-12-10 14:18] fzzr- commented on #262
I'm sure, that any implementation is not needed now. Currently all new extra-fields in haxelib.json are ignoring/skipping and don't beaks the tool ([code](https://github.com/HaxeFoundation/haxelib/blob/master/src/haxelib/Data.hx#L275-L323)).

I think as a first step we need to get consensus/agreement about needing, placement and format of data. Next - to describe it as a page in manual.

[2015-12-10 14:37] nadako commented on #262
IMO, design issues often surface when we implement the feature, so I'm strongly against documenting it in manual before implementation. You're free to work on design tho :-)

[2015-12-10 15:36] ibilon commented on #234
A simple proxy exe which sends all its arguments to `$(haxelib path haxe [version])/haxe` with the required haxe_std env var should work without too much issues I guess (hope).

Thanks to Andy knowing about/getting updates on linux isn't an issue any more, but mac or windows it's still there,
but that's another issue.

The haxe field could still be used to warn about a haxe version too low (or too

[2015-12-10 19:32] ibilon commented on #217
Cool thanks.

There's a couple of things that didn't quite work the way I envisioned,
the implicit save with setter actually make things confusing and more complex,
the use of a provider to tell if it can use the uri was made to limit coupling but in the end there's still the need to list them all.

The use of exception did work like I expected and I think it's better than null values (exception n

[2015-12-10 21:05] nadako commented on #217
Yup, I agree, a setter that writes to filesystem is really bad practice IMO :)

I think the provider system is still good, it allows us to add new types of haxelib sources easily. We should look into implementing something like this (related issue #238).

That's for sure. No more `Error: (+)` pls! :)

---

Anyway, I decided to start in a separate branch with extracting a class that represents inst

[2015-12-10 23:39] porfirioribeiro commented on #238
Maybe something like Cargo from rust lang?
http://doc.crates.io/manifest.html#the-[dependencies]-section
It accepts git repo's as a depedency. The Cargo.toml is either used on Lib's or app's to specify options including dependencies.

[2015-12-10 23:48] nadako commented on #238
That is interesting stuff, thanks!

[2015-12-11 03:39] andyli commented on #100
Let's reopen this one to see if we can remove the use of `HAXEPATH` even on Windows :)
See https://github.com/HaxeFoundation/haxelib/commit/bd5740ca589287acc719c62a5e9dd0049ce1b905#commitcomment-14917006

[2015-12-11 16:56] nadako opened #263 "Using dev mode for git/hg checkouts"
Right now, when one does `haxelib git libname ...`, it checks out into `git` directory inside library folder and then sets it as a `.dev` path. I think that doesn't make much sense, and we should keep dev mode separated from git/hg checkouts. What I propose is to remove setting `.dev` and store "git" version to `.current` like it's a normal version.

[2015-12-11 16:57] nadako commented on #263
you can currently achieve that with `haxelib git libname ...; haxelib dev libname; haxelib set git` and it seems to work okay

[2015-12-11 17:12] ibilon commented on #263
I remember doing this at some point, never had issues.

It would be nice if you could install it like this `haxelib install libname source` or dev/git.

Would require a `source` field in haxelib.json, even if this idea isn't kept the source field would allow to have both github and website link.

[2015-12-11 20:51] ncannasse commented on #100
HAXEPATH is set by Windows installer. We don't want users on Windows to have to run haxelib setup before being able to install libraries.

[2015-12-11 20:53] nadako commented on #100
Yes, but can't we achieve this by determining haxelib.exe folder somehow and using that instead of HAXEPATH?

[2015-12-11 21:04] ncannasse commented on #100
That's usually how I would do :) So if at some point HAXEPATH was used someone must have had a problem with it. Can't tell unless we look at full history

[2015-12-12 00:02] fzzr- commented on #238
I like the Cargo impl. but this is new format and will change the our current format:
From `{"libname" : "ver"}` to `{"libname" : {"version":"", "git/hg/svn":"", "branch/tag/rev":""} }`.

But we can really preserve backward compatibility. We can easy support old(current) and new formats - detect format via Reflection and use the special provider (parser) for it _(Or EitherType)_.

[2015-12-12 00:08] fzzr- commented on #238
Another one variant - namespace-like:
[code]

[2015-12-12 00:14] fzzr- commented on #238
I love the NPMs format but it doesn't support any other control version system.

[2015-12-14 16:05] nadako commented on #263
Okay, one reason for using dev mode is that it allows to specify subdir to use as a library root inside of a checkout directory. It seems that we easily can't get rid of using devmode for vcs checkouts without losing that feature.

[2015-12-15 19:00] nadako commented on #161
I added the check that protects against setting haxelib repo to `~/.haxelib` for now, but what we should do with this issue anyway? The [code in `genneko.ml`](https://github.com/HaxeFoundation/haxe/blob/ed83390bc344f247f8c63d085e1853257947f3c9/genneko.ml#L687-L698) looks quite weird indeed (for example, it uses hardcoded path on Windows, but tries to read `$HOME/.haxelib` on other OS), so I think

[2015-12-15 19:04] nadako commented on #261
So, what's the process here? Who takes this kind of decisions? I think we have to come up with some policy regarding that and document it.

[2015-12-15 19:07] nadako commented on #238
The npm tool itself doesn't support anything but git, but the URL format looks extensible enough (e.g. `hg+http://...` similar to supported-by-npm `git+http://...`.

[2015-12-15 19:11] nadako commented on #105
I think we can merge this issue into #238, since we're discussing npm-like url support there.

[2015-12-15 19:11] #105 closed

[2015-12-15 19:16] nadako commented on #238
As discussed in #105, it would be also nice to support `http://...` urls, which is also supported by NPM.
I propose we borrow npm's url format and use it for both "haxelib install" and dependency urls. We can implement it using some kind of "providers" architecture as it's done in @ibilon's sources related to #217

[2015-12-15 19:17] nadako commented on #186
Let's merge this with #186

[2015-12-15 19:17] #186 closed

[2015-12-15 19:19] ibilon commented on #186
@nadako wrong link ;)

[2015-12-15 20:33] fbricker commented on #261
I don't think there's actually someone taking this kind of decisions (it was just a quick chat inside a group and someone came up with the idea of adding the word extension- as a prefix, for OpenFL/NME and Lime extensions, and we all agreed on that without much discussion).

Anyway, I think it's a good idea to put some rules into haxelib (not only for naming, but maybe also for quality). It'll als

[2015-12-15 20:52] ibilon commented on #261
I think @nadako meant who takes the decision for haxelib, who choose what to remove, rename ...

[2015-12-15 20:55] nadako commented on #261
Yup I meant haxelib policy.

[2015-12-15 20:57] ibilon commented on #262
Make a quick comparison of npm/gem/cargo/haxelib package file
https://docs.google.com/spreadsheets/d/1c6vGi6D8HCwTpzm7eX9cSAD8-GovZnUqWksBFMOGqeQ/edit?usp=sharing

It's more that probable that I missed stuff and put "no" where there is support ;)

[2015-12-15 20:57] nadako commented on #186
Oops, I probably meant #217 :)

[2015-12-15 20:58] fbricker commented on #261
Oh, in that case I don't know... I just asked Nicolas how to remove libs from haxelib and he told me to open an issue here since Andy Li will soon take over haxelib maintenance.

[2015-12-15 21:10] nadako commented on #261
ping @andyli

[2015-12-15 23:46] nadako commented on #100
I think we can try using `Sys.executablePath()` on Windows, since we're always dealing with `haxelib.exe` there. Unless we want to change it to some `haxelib.cmd` batch file that does `--run`

[2015-12-18 11:32] fzzr- opened #264 "Need own VCS-servers for testing the tool"
I think we should not depend on Github or Bitbucket (or any other) in the testing the CVS-features of Haxelib tool.

We need our own independent VCS-servers for automated (unit-) tests for the Haxelib console tool.

All servers have to support http, https and ssh connections.

List of needed repos:
* Git without any auth
* Git __with__ login-pass auth
* Git __with__ cert/key auth
* Hg without any

[2015-12-18 11:35] fzzr- commented on #264
Alternatively the servers can be launched on CI but it's not an easy quest.

[2015-12-18 13:04] ibilon commented on #264
Agree, but wouldn't be a good idea to make a public server without auth,
and it'd be better for CI to have a fresh server too.

I took a look on how to create a git server, and it looks like it needs a new user,
travis can give sudo so could be possible, or maybe we can do another way that may be less secure but since it's just for testing.

[2015-12-19 15:01] jcward opened #265 ""Set to version" prompt does not unset dev"
Just ensuring hxcpp is up to date, I got the:

[code]

But when I checked `haxelib list`, it was still set to dev. I find this confusing.

I'd think the above prompt should unset dev. Or, if you don't want to change the behavior of the tool, perhaps the note should read:

[code]

Also, I'm not sure if the git override works the same way?

[2015-12-19 15:42] ibilon commented on #265
Agree,
the message could also specify the current version.

Similar issue https://github.com/HaxeFoundation/haxelib/issues/106

By git override do you mean `haxelib git`?
If so it does make use of a dev set.
(could change https://github.com/HaxeFoundation/haxelib/issues/263)

[2015-12-19 16:22] ibilon commented on #227
Several `0.3` versions non-beta was pushed,
so I guess this isn't relevant anymore? @jcward

[2015-12-19 16:54] ibilon opened #266 "[Meta] Changes to haxelib.json"
A meta issue to track all discussions about changing haxelib.json,
since it's better to do all changes at once and not across several releases.
- [ ] Specify supported haxe version #234
- [ ] The need for both a website and repository field #222
- [ ] Post install hooks #183
- [ ] Defines #262
- [ ] Dependency format #238 including the use of expressions #81

About backward compatibility, haxelib

[2015-12-19 17:19] jcward commented on #227
Correct, closing.

[2015-12-19 17:19] #227 closed

[2015-12-19 21:29] ibilon opened #267 "Refactoring the install mechanism"
Currently when installing a library it gets downloaded, extracted, and dependencies are recursively installed.

This isn't without issues, if something goes wrong in the middle things are left in a broken state, like #244 or you end up getting several versions of the same library #218

Because of that you have no idea how many libraries will get installed or how much space they'll use.

I propose

[2015-12-20 09:49] ibilon commented on #201
Having a haxedoc.xml will trigger this https://github.com/HaxeFoundation/haxelib/blob/d3593aeb315cef8be6aef1a53e4fc5e932181e1f/src/haxelib/server/Repo.hx#L235-L262

but I don't think there's anything heavy going on, unless the xml is heavy? @jgranick

Also the Data function returns the first haxedoc.xml, regardless of how deep it is,
maybe we would only look at it if it's next to haxelib.json?

[2015-12-20 10:03] ibilon commented on #221
Note: this is a website issue, work normally in the cli tool.

For example perf.js:
http://lib.haxe.org/p/perf.js/1.0.2/files/ => `Invalid zip file /data/haxelib/www/../www/files/3.0/perf.js-1,0,2.zip: [file_open,/data/haxelib/www/../www/files/3.0/perf.js-1,0,2.zip]`
was saved as http://lib.haxe.org/files/3.0/perf,js-1,0,2.zip (note the dot converted to a comma)

[2015-12-20 11:41] nadako commented on #221
Probably a missing `Data.(un)safe` somewhere

[2015-12-20 14:45] #221 closed

[2015-12-20 17:30] fponticelli commented on #221
Thanks for the fix but I don't think it addresses the second part of it: "Also the README.md doesn't show up for them probably because of the same issue.". Should I open a new issue?

[2015-12-20 17:42] juef17 commented on #235
This seems to be an issue with `install` as well:

[code]

[2015-12-20 17:48] juef17 opened #271 "Windows uninstaller "Full" doesn't uninstall anything"
Greetings,

When using `Uninstall.exe` to uninstall Haxe 3.2.1, we are asked to select the *type of uninstall*, with the choices *Default*, *Full* and *Custom*. None of these choices actually check anything for me (Windows 7 64 bit), which can be expected from *Default* and *Custom*, but I don't think this is the expected behavior for *Full*.

Thank you!

[2015-12-20 17:52] ibilon commented on #221
I think it does, the readme is parsed by https://github.com/HaxeFoundation/haxelib/blob/master/src/website/controller/ProjectController.hx#L46-L53
`readContentFromZip` calls `readBytesFromZip` which calls `getZipEntries` which finally calls the fixed `getZipFilePath`

The ufront cache do need to be cleared though.

[2015-12-20 18:08] fponticelli commented on #221
ok, cool ... thanks!

[2015-12-20 20:34] nadako commented on #271
@waneck @andyli i believe this is a haxe issue?

[2015-12-20 20:58] juef17 commented on #271
Aw, crap, I believe you're right. I'll submit this again in the proper place. Thanks!

[2015-12-20 20:58] #271 closed

[2015-12-20 21:38] nadako commented on #271
No problem!

[2015-12-21 12:36] nadako commented on #267
I like the proposal. It looks to me that we should store dependencies in a `Version` db object and return that array in a `VersionInfos` structure from the `SiteApi.infos` method and then use it in the haxelib client. Additionally we could also display dependencies/dependants on a website.

However, since it's an addition to the public API, we should decide on the dependency format first (#238).

[2015-12-21 16:13] back2dos commented on #124
This is possible with the new website: http://lib.haxe.org/p/haxelib_client/3.2.0-rc.3/raw-files/haxelib.json

@jasononeil Please confirm and close.

[2015-12-21 16:17] back2dos commented on #124
Ok, not quite. The file exploration feature should make use of `Data.locateBasePath`, so that the `haxelib.json` is always at the top level.

[2015-12-21 16:17] nadako commented on #124
I think it's not reliable, since haxelib.json can be placed not only in the root.

[2015-12-21 16:21] back2dos commented on #267
There is no process in place. The database is basically the same since a decade. The only change that was made (with Haxe 3) was to store the version components separately.

This seems like a very complex change, particularly if you consider the fact that in the future some dependencies are to be located in VCSs. I think the two don't go very well together.

[2015-12-21 16:49] nadako commented on #196
I feel like haxelib shouldn't contain [such a hack](https://github.com/HaxeFoundation/haxelib/blob/a07a6c2515a1f86969894388eea3fb4e2a9ddda4/src/haxelib/client/Cli.hx#L55-L93) for this specific situation. Couldn't we just check for whether cwd is valid at start and error if not?

[2015-12-21 18:33] fzzr- commented on #196
Agree __only if we won't use CWD where it is not needed__. Currently (if I remember correctly) CWD used in all methods.

I agree that this is ugly solution. It works not absolutely correctly.

1. CWD should be used only where it is really needed.
2. Otherwise (e.g. for `local` & `dev`) - _check for whether cwd is valid_.

P.s.: Actually this is not a very rare situation and is easily reproduced.Th

[2015-12-21 18:51] nadako commented on #196
Okay, I'll try reproducing that on OS X by removing the fix locally and see what can we do about not querying cwd when not needed.

As for the refactoring, I'm currently trying to modularize stuff and I started with factoring out the installation repository management stuff (install/remove/query libraries). It's still unfinished, but I'm doing it in the [repository branch](https://github.com/HaxeF

[2015-12-21 20:05] nadako commented on #182
Let's merge this into #234

[2015-12-21 20:05] #182 closed

[2015-12-21 20:16] nadako commented on #267
I don't know, surely we probably (?) can't calculate the size when VCSs come into play, but we could still implement some kind of transaction system that can roll-back the whole command if something goes wrong. It should be done after the basic cleanup/refactoring though.

[2015-12-22 13:02] ncannasse commented on #161
I don't think we should remove the runtime resolving of libraries using haxelib configuration.
We could change .haxelib by .haxelibconfig but that would cause a lot of mess for people that have already a config set. I still think that giving the proper error messages is the best way to deal with this.

[2015-12-22 13:03] nadako commented on #161
Okay, let's close it for now then.

[2015-12-22 13:03] #161 closed

[2015-12-22 13:05] ncannasse commented on #161
@nadako did you add proper error messages when trying to save .haxelib and it's a directory ?

[2015-12-22 13:27] nadako commented on #161
@ncannasse I did this 513d2acf633bf9d1118b8b327675f6862e8b3ce4

[2015-12-22 15:05] nadako opened #272 "haxelib run + cwd behaviour"
The current behaviour is quite weird: We append cwd to the end of argument list and then change cwd to the library installation directory. What's the reason it's implemented like that? cc @ncannasse

I think it would be more correct not to change cwd and set the lib directory to the `HAXELIB_RUN` env var (currently it's always set to `1`).

Changing this will break current haxelibs, so if we want

[2015-12-22 15:05] nadako commented on #272
Assigning to @ncannasse for comments :)

[2015-12-22 16:18] fzzr- commented on #196
:ok_hand: :+1: I love blackbox conception and encapsulation. I will write a letter to you personally.

[2015-12-22 16:26] fzzr- commented on #124
Maybe is possible ( :) ) to create simple Api like `getRawDescriptor(version):Url //or raw-content or parsed-typed-json` [here](https://github.com/HaxeFoundation/haxelib/blob/master/src/website/api/ProjectApi.hx).

[2015-12-22 16:36] fzzr- opened #273 "[Github] Add tags & priority-tags for issues"
Need create tags ("Labels") , priority-tags & feature-tags same as in the Haxe repository and [TiVo](https://github.com/TiVo/intellij-haxe/issues) (e.g.: [`bug`](https://github.com/HaxeFoundation/haxe/labels/bug), [`feature-completion`](https://github.com/HaxeFoundation/haxe/labels/feature-completion), [`Priority N`](https://github.com/TiVo/intellij-haxe/labels/Priority%202)).

[2015-12-22 16:51] fzzr- commented on #265
Agree . try to explain..

1. We don't need to remove `.dev`-file anyway in that use-case;
2. Problem in the algorithm used in `list` command:
  * We have two files: `.current` & `.dev`;
  * Currently if `.dev` exists then `.current` will be ignored - it's wrong behaviour;
  * We need to prioritise `.current` over `.dev`.

[2015-12-22 16:54] nadako commented on #265
I think the original purpose of `dev` is to override any currently installed versions, so prioritizing `.current` over `.dev` does not make sense IMO and the current behaviour is actually correct.

What we could do is what @jcward originally proposed: either prompt to unset dev or mention that dev mode is in effect.

[2015-12-22 17:03] nadako commented on #106
I kind of want to merge this with #265, but it seems that there was some consensus in this issue, while #265 proposes to either explicitly prompt dev unsetting or going even simplier way - just noting that user has the dev path set. What's the opinion nowadays?

[2015-12-22 17:19] nadako commented on #59
Haxelib server [doesn't seem to check for existing user names](https://github.com/HaxeFoundation/haxelib/blob/a7460e8371fd43bb8c0f7504b5854e1611376e93/src/haxelib/server/Repo.hx#L104-L109) and the `name` field [is not marked as UNIQUE](https://github.com/HaxeFoundation/haxelib/blob/a7460e8371fd43bb8c0f7504b5854e1611376e93/src/haxelib/server/SiteDb.hx#L28-L36). So it's possible to register several

[2015-12-22 17:21] nadako commented on #59
This strikes me as a big deal actually. I wonder how many people "successfully" registered duplicating user names.

[2015-12-22 18:55] ncannasse commented on #272
I agree with the change. Not sure how to make sure to handle backward compatibility.

[2015-12-22 18:59] nadako commented on #272
One possibility is to add some "haxelib protocol version" field to haxelib.json and use the new mechanism if it's set to proper value (and warn if author submits a library using old mechanism). But I'm not sure it's worth adding that field just for this change.

[2015-12-22 19:03] ncannasse commented on #59
@jasononeil could you look into that urgently ?

[2015-12-22 19:08] nadako commented on #59
Note that I added the check in d679e23b7f0f2cdf44c0a1167e96af17e4e8dbc6

[2015-12-22 21:28] nadako commented on #33
Any progress?

[2015-12-22 21:30] nadako commented on #56
That is due to `-D haxelib_api`, but I really have no Idea why it's even needed. Let's remove it?:)

[2015-12-22 22:08] nadako commented on #133
I have looked into it, and it seems quite easy to implement: we pass the `Range` header with `bytes=xxx-` value, where `xxx` is the current file size. And we open the file in the append mode (so `File.append`, not `File.write`.

Here's a snipped to play with. I'm not a HTTP expect, but it looks okay to me. I did ctrl+c and restarted several times and still got full zip file downloaded. If noone se

[2015-12-22 22:49] nadako commented on #176
Is there anything left to do here?

[2015-12-22 22:57] nadako commented on #195
This is somewhat related to #263, but that issue is quite heavy, so let's fix this for now by checking whether the path we're removing is the same that specified in `.dev` and remove the `.dev` file if so.

Removing the whole library folder when last version is removed makes sense too, i'll make another issue for that.

[2015-12-22 23:05] nadako commented on #195
Or rather, forbid removing version if its path is specified in `.dev` (which will be true for vcs checkouts), so the behaviour is consistent.

[2015-12-22 23:24] #199 closed

[2015-12-23 01:05] nadako commented on #196
I tested it on linux and it seems that cwd is not required for all commands nowadays. So I'm going to simply add handling of `std@get_cwd` and `std@set_cwd` errors in the global catch for proper error message, and remove the PWD hack.

[2015-12-23 01:25] #196 closed

[2015-12-23 01:42] nadako commented on #236
ping

[2015-12-23 02:42] #212 closed

[2015-12-23 09:27] back2dos commented on #56
Off the top of my head I think this is related to the fact that the
remoting API module is built separately from the web server and located in
some subfolder (api/3.0 or somesuch thing).

On Tue, Dec 22, 2015 at 10:30 PM, Dan Korostelev <notifications@github.com>
wrote:

[2015-12-23 10:23] nadako commented on #56
Maybe that's related to some mod_neko cwd behaviour? Because for nekotools server i have to compile WITHOUT `-D haxelib_api`

[2015-12-23 15:43] nadako commented on #238
This raises more questions: should we / how to store multiple versions of a library checked out from some vcs.

For example, library A declares `"somelib": "git://some/lib#rev1"` dependency which is a `rev1` commit from `some/lib` while library B wants "somelib" to be e.g. `git://other/lib#rev2`.

Technically, we can support that by generating some unique version identifier from a vcs url (like `g

[2015-12-24 08:46] ibilon commented on #238
It depends if we can make the hypothesis that the user won't modify the content.

In that case when installing we only fetch, and when compiling we do a checkout of the required commit/branch/tag.

[2015-12-24 18:42] fzzr- commented on #196
So much better! I will tested it on OS X in my use-cases.

[2016-01-06 16:29] fzzr- opened #274 "Error "Lib doesn't have a run script" should be thrown for dev-version."
Error about "Library does not have a run script" doesn't throw when version is `dev`.

[code]

_I'm not sure, is this planned behaviour?_

[2016-01-11 09:23] markknol opened #275 "Dependencies per target in haxelib.json"
In the `haxelib.json` of Flambe this line exist.
[code]
This means you need these libraries to compile the project. But both projects are for the swf-target.

I mostly use the JavaScript-target of Flambe. I still need air3 to be installed. Can I define a rule that I only need certain haxelib when compiling to swf-target?

[2016-01-11 10:24] ncannasse commented on #275
Dependencies are installed when installing the library, not when compiling so you will have to install air3 anyway. Should it be excluded from compilation parameters when compiling for something else that JS? maybe, but I'm not sure how to do that.

[2016-01-11 12:05] markknol commented on #275
Exactly, but the compilation fails if I don't have it's dependencies installed, and I only have `-lib flambe` added to the project.
``` Error: Library air3 is not installed : run 'haxelib install air3' ```

[2016-01-12 10:02] smks opened #276 "Set hxcpp to version 3.2.205 [y/n/a] ? n"
Prompts to update hxcpp to a previous version even though I have the latest applied.

haxelib upgrade
...
Set hxcpp to version 3.2.205 [y/n/a] ? n
....

haxelib list
hxcpp: 3.2.102 3.2.171 3.2.180 3.2.193 3.2.205 [3.2.94]

[2016-01-12 10:09] ibilon commented on #276
It is a newer version, patch 205 > patch 94,
the listing isn't in the right order.

Fixed but not yet deployed (https://github.com/HaxeFoundation/haxelib/issues/83), same for the website (https://github.com/HaxeFoundation/haxelib/issues/236)

[2016-01-13 13:45] Simn opened #277 "Site deployment"
I've just [updated](https://github.com/HaxeFoundation/haxelib/commit/80584ddf1daa3e7f2ea2bea20afe46c6a7c603ec) something. How can I get it deployed?

@jasononeil @ncannasse @back2dos @nadako @andyli

[2016-01-13 13:51] nadako commented on #277
There are also some undeployed fixes like #212, #59, #221, #236 and probably more. I would like the deployment process to be at least documented, or better yet, somehow automated.

[2016-01-13 13:54] andyli commented on #277
I'm willing to work on the automation once I've haxelib server access (I don't have yet).

[2016-01-13 14:02] ibilon commented on #277
A reminder that for #221 we need a cache clear in ufront in case that's not automatic when deploying.

[2016-01-13 14:14] back2dos commented on #277
For the API, you will have to replace the index.n in `/api/3.0` or something. For the site, I don't know.

[2016-01-13 14:23] nadako commented on #277
There's some [deploy.json](https://github.com/HaxeFoundation/haxelib/blob/master/deploy.json) file, but i don't know how it's used.

[2016-01-13 14:29] nadako commented on #277
Somewhat related to deployment: #56

[2016-01-13 20:51] ncannasse commented on #277
@jasononeil has been taking care of the deployment. Jason, could you get in touch with Andy so he can get access?

[2016-01-24 02:38] peteshand opened #278 "Feature Request: Add "air" to Global Compiler Flags"
Feature Request:
Add "air" to Global Compiler Flags

[2016-01-24 05:41] andyli commented on #278
Any `-D` define is global. What do you want to achieve?

[2016-01-24 09:59] peteshand commented on #278
Hey Andy
Yeah good point, just realized this, this afternoon.